body {
  font-size: 100%;
  font-family: sans-serif;
  background-color: #1c1c22;
}

div.sidebar.sidebar-offcanvas.navbar {
  min-height: calc(100vh);
  height: 100% !important;
  transition: transform .45s linear;
  background-color: rgba(54, 54, 59, 0.4);
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show {
  transform: translate(0, 0);
  width: 20%;
  padding: 0;
  height: 100%;
  z-index: 11;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show div.sidebar-brand-wrapper {
  width: 100%;
  height: 70px;
  padding: 1rem;
  display: flex;
  background-color: #1c1c22;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show div.sidebar-brand-wrapper a.logo-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show div.sidebar-brand-wrapper a.logo-link:focus {
  outline: none;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show div.sidebar-brand-wrapper a.logo-link img.logo {
  width: 45px;
  height: 45px;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show div.sidebar-brand-wrapper a.title-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  margin-left: .5rem;
  cursor: pointer;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show div.sidebar-brand-wrapper a.title-link:focus {
  outline: none;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show div.sidebar-brand-wrapper a.title-link div.empty-content {
  display: flex;
  width: 100px;
  color: #36363b;
  height: 2rem;
  background-color: #36363b;
  position: relative;
  left: -25px;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show div.sidebar-brand-wrapper a.title-link h4.UFOGame {
  color: #ff9300;
  font-weight: 600;
  z-index: 10;
  width: auto;
  margin-bottom: 0;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show div.sidebar-brand-wrapper a.title-link h4.UFOGame span {
  color: #fff;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
  min-height: 100%;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav li.nav-item.nav-category {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav li.nav-item.nav-category span.nav-link {
  font-weight: bold;
  font-size: 120%;
  color: rgba(255, 255, 255, 0.75);
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav li.nav-item.menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav li.nav-item.menu-items:active > div.nav-link > svg.MuiSvgIcon-root {
  transition: .3s transform ease-in-out;
  transform: rotate(-180deg);
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav li.nav-item.menu-items:hover > div.nav-link > span.menu-title {
  color: rgba(255, 255, 255, 0.75);
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav li.nav-item.menu-items div.nav-link {
  width: 100%;
  font-size: 100%;
  color: #959aa2;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav li.nav-item.menu-items div.nav-link:hover {
  background-color: #1c1c22;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav li.nav-item.menu-items div.nav-link:focus {
  outline: none;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav li.nav-item.menu-items div.nav-link span.menu-icon {
  margin-right: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav li.nav-item.menu-items div.nav-link span.menu-icon i {
  font-size: 22px;
  border: 1px solid #1c1c22;
  border-radius: 50%;
  background-color: #1c1c22;
  padding: .6rem;
  color: #fc8928;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav li.nav-item.menu-items div.nav-link span.menu-icon svg.settings {
  fill: #FC8928;
  padding: .6rem;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav li.nav-item.menu-items div.nav-link span.menu-title {
  font-size: 95%;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav li.nav-item.menu-items div.nav-link svg.MuiSvgIcon-root {
  font-size: 16px;
  margin-left: auto;
  margin-right: .5rem;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav div.sub-collapse {
  transition: transform .3 linear;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav div.sub-collapse ul.nav.sub-menu {
  background-color: transparent;
  margin-bottom: 0;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav div.sub-collapse ul.nav.sub-menu a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90%;
  color: #ff9300;
  padding: 0;
  width: 80%;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav div.sub-collapse ul.nav.sub-menu a.nav-link:focus {
  outline: none;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav div.sub-collapse ul.nav.sub-menu a.nav-link li.nav-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  width: 50%;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav div.sub-collapse.collapse {
  width: 95%;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav div.sub-collapse.collapse ul.nav.sub-menu {
  background-color: transparent;
  margin-bottom: 0;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav div.sub-collapse.collapse ul.nav.sub-menu a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90%;
  color: #ff9300;
  padding: 0;
  width: 80%;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav div.sub-collapse.collapse ul.nav.sub-menu a.nav-link:focus {
  outline: none;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav div.sub-collapse.collapse ul.nav.sub-menu a.nav-link li.nav-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  width: 50%;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav div.sub-collapse.collapsing {
  width: 95%;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav div.sub-collapse.collapsing ul.nav.sub-menu {
  background-color: transparent;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav div.sub-collapse.collapsing ul.nav.sub-menu a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90%;
  color: #ff9300;
  padding: 0;
  width: 80%;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav div.sub-collapse.collapsing ul.nav.sub-menu a.nav-link:focus {
  outline: none;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav div.sub-collapse.collapsing ul.nav.sub-menu a.nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav div.sub-collapse.collapsing ul.nav.sub-menu a.nav-link li.nav-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav div.sub-collapse.collapse.show {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav div.sub-collapse.collapse.show ul.nav.sub-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-top: 0;
  background-color: transparent;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav div.sub-collapse.collapse.show ul.nav.sub-menu a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff9300;
  font-size: 90%;
  padding: 0;
  width: 80%;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav div.sub-collapse.collapse.show ul.nav.sub-menu a.nav-link:focus {
  outline: none;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav div.sub-collapse.collapse.show ul.nav.sub-menu a.nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show ul.nav div.sub-collapse.collapse.show ul.nav.sub-menu a.nav-link li.nav-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin: 1rem 0;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing {
  transform: translate(-100%, 0);
  width: 20%;
  padding: 0;
  height: 100%;
  z-index: 11;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing div.sidebar-brand-wrapper {
  width: 100%;
  height: 70px;
  padding: 1rem;
  display: flex;
  background-color: #1c1c22;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing div.sidebar-brand-wrapper a.logo-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing div.sidebar-brand-wrapper a.logo-link:focus {
  outline: none;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing div.sidebar-brand-wrapper a.logo-link img.logo {
  width: 45px;
  height: 45px;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing div.sidebar-brand-wrapper a.title-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  margin-left: .5rem;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing div.sidebar-brand-wrapper a.title-link:focus {
  outline: none;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing div.sidebar-brand-wrapper a.title-link div.empty-content {
  display: flex;
  width: 100px;
  color: #36363b;
  height: 2rem;
  background-color: #36363b;
  position: relative;
  left: -25px;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing div.sidebar-brand-wrapper a.title-link h4.UFOGame {
  color: #ff9300;
  font-weight: 600;
  z-index: 10;
  width: auto;
  margin-bottom: 0;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing div.sidebar-brand-wrapper a.title-link h4.UFOGame span {
  color: #fff;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
  min-height: 100%;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav li.nav-item.nav-category {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav li.nav-item.nav-category span.nav-link {
  font-weight: bold;
  font-size: 120%;
  color: rgba(255, 255, 255, 0.75);
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav li.nav-item.menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav li.nav-item.menu-items:active > div.nav-link > svg.MuiSvgIcon-root {
  transition: .3s transform ease-in-out;
  transform: rotate(-180deg);
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav li.nav-item.menu-items div.nav-link {
  width: 100%;
  font-size: 100%;
  color: #959aa2;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav li.nav-item.menu-items div.nav-link:hover {
  background-color: #1c1c22;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav li.nav-item.menu-items div.nav-link:focus {
  outline: none;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav li.nav-item.menu-items div.nav-link span.menu-icon {
  margin-right: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav li.nav-item.menu-items div.nav-link span.menu-icon i {
  font-size: 22px;
  border: 1px solid #1c1c22;
  border-radius: 50%;
  background-color: #1c1c22;
  padding: .6rem;
  color: #fc8928;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav li.nav-item.menu-items div.nav-link span.menu-icon svg.settings {
  fill: #FC8928;
  padding: .6rem;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav li.nav-item.menu-items div.nav-link span.menu-title {
  font-size: 95%;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav li.nav-item.menu-items div.nav-link svg.MuiSvgIcon-root {
  font-size: 16px;
  margin-left: auto;
  margin-right: .5rem;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav div.sub-collapse.collapse {
  width: 95%;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav div.sub-collapse.collapse ul.nav.sub-menu {
  background-color: transparent;
  margin-bottom: 0;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav div.sub-collapse.collapse ul.nav.sub-menu a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90%;
  color: #ff9300;
  padding: 0;
  width: 80%;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav div.sub-collapse.collapse ul.nav.sub-menu a.nav-link:focus {
  outline: none;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav div.sub-collapse.collapse ul.nav.sub-menu a.nav-link li.nav-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  width: 50%;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav div.sub-collapse.collapsing {
  width: 95%;
  height: max-content;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav div.sub-collapse.collapsing ul.nav.sub-menu {
  background-color: transparent;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav div.sub-collapse.collapsing ul.nav.sub-menu a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90%;
  color: #ff9300;
  padding: 0;
  width: 80%;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav div.sub-collapse.collapsing ul.nav.sub-menu a.nav-link:focus {
  outline: none;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav div.sub-collapse.collapsing ul.nav.sub-menu a.nav-link li.nav-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  width: 50%;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav div.sub-collapse.collapse.show {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: max-content;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav div.sub-collapse.collapse.show ul.nav.sub-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-top: 0;
  background-color: transparent;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav div.sub-collapse.collapse.show ul.nav.sub-menu a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90%;
  color: #ff9300;
  padding: 0;
  width: 80%;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav div.sub-collapse.collapse.show ul.nav.sub-menu a.nav-link:focus {
  outline: none;
}

div.sidebar.sidebar-offcanvas.navbar.collapsing ul.nav div.sub-collapse.collapse.show ul.nav.sub-menu a.nav-link li.nav-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  width: 50%;
}

div.sidebar.sidebar-offcanvas.navbar.collapse {
  transform: translate(-100%, 0);
  width: 20%;
  padding: 0;
  height: 100%;
  z-index: 11;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

div.sidebar.sidebar-offcanvas.navbar.collapse div.sidebar-brand-wrapper {
  width: 100%;
  height: 70px;
  padding: 1rem;
  display: flex;
  background-color: #1c1c22;
}

div.sidebar.sidebar-offcanvas.navbar.collapse div.sidebar-brand-wrapper a.logo-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.sidebar.sidebar-offcanvas.navbar.collapse div.sidebar-brand-wrapper a.logo-link:focus {
  outline: none;
}

div.sidebar.sidebar-offcanvas.navbar.collapse div.sidebar-brand-wrapper a.logo-link img.logo {
  width: 45px;
  height: 45px;
}

div.sidebar.sidebar-offcanvas.navbar.collapse div.sidebar-brand-wrapper a.title-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  margin-left: .5rem;
}

div.sidebar.sidebar-offcanvas.navbar.collapse div.sidebar-brand-wrapper a.title-link:focus {
  outline: none;
}

div.sidebar.sidebar-offcanvas.navbar.collapse div.sidebar-brand-wrapper a.title-link div.empty-content {
  display: flex;
  width: 100px;
  color: #36363b;
  height: 2rem;
  background-color: #36363b;
  position: relative;
  left: -25px;
}

div.sidebar.sidebar-offcanvas.navbar.collapse div.sidebar-brand-wrapper a.title-link h4.UFOGame {
  color: #ff9300;
  font-weight: 600;
  z-index: 10;
  width: auto;
  margin-bottom: 0;
}

div.sidebar.sidebar-offcanvas.navbar.collapse div.sidebar-brand-wrapper a.title-link h4.UFOGame span {
  color: #fff;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
  min-height: 100%;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav li.nav-item.nav-category {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav li.nav-item.nav-category span.nav-link {
  font-weight: bold;
  font-size: 120%;
  color: rgba(255, 255, 255, 0.75);
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav li.nav-item.menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav li.nav-item.menu-items:active > div.nav-link > svg.MuiSvgIcon-root {
  transition: .3s transform ease-in-out;
  transform: rotate(-180deg);
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav li.nav-item.menu-items div.nav-link {
  width: 100%;
  font-size: 100%;
  color: #959aa2;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav li.nav-item.menu-items div.nav-link:hover {
  background-color: #1c1c22;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav li.nav-item.menu-items div.nav-link:focus {
  outline: none;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav li.nav-item.menu-items div.nav-link span.menu-icon {
  margin-right: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav li.nav-item.menu-items div.nav-link span.menu-icon i {
  font-size: 22px;
  border: 1px solid #1c1c22;
  border-radius: 50%;
  background-color: #1c1c22;
  padding: .6rem;
  color: #fc8928;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav li.nav-item.menu-items div.nav-link span.menu-icon svg.settings {
  fill: #FC8928;
  padding: .6rem;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav li.nav-item.menu-items div.nav-link span.menu-title {
  font-size: 95%;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav li.nav-item.menu-items div.nav-link svg.MuiSvgIcon-root {
  font-size: 16px;
  margin-left: auto;
  margin-right: .5rem;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav div.sub-collapse.collapse {
  width: 95%;
  height: 0;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav div.sub-collapse.collapse ul.nav.sub-menu {
  background-color: transparent;
  margin-bottom: 0;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav div.sub-collapse.collapse ul.nav.sub-menu a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90%;
  color: #ff9300;
  padding: 0;
  width: 80%;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav div.sub-collapse.collapse ul.nav.sub-menu a.nav-link:focus {
  outline: none;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav div.sub-collapse.collapse ul.nav.sub-menu a.nav-link li.nav-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  width: 50%;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav div.sub-collapse.collapsing {
  width: 95%;
  height: max-content;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav div.sub-collapse.collapsing ul.nav.sub-menu {
  background-color: transparent;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav div.sub-collapse.collapsing ul.nav.sub-menu a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90%;
  color: #ff9300;
  padding: 0;
  width: 80%;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav div.sub-collapse.collapsing ul.nav.sub-menu a.nav-link:focus {
  outline: none;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav div.sub-collapse.collapsing ul.nav.sub-menu a.nav-link li.nav-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  width: 50%;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav div.sub-collapse.collapse.show {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: max-content;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav div.sub-collapse.collapse.show ul.nav.sub-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-top: 0;
  background-color: transparent;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav div.sub-collapse.collapse.show ul.nav.sub-menu a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90%;
  color: #ff9300;
  padding: 0;
  width: 80%;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav div.sub-collapse.collapse.show ul.nav.sub-menu a.nav-link:focus {
  outline: none;
}

div.sidebar.sidebar-offcanvas.navbar.collapse ul.nav div.sub-collapse.collapse.show ul.nav.sub-menu a.nav-link li.nav-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  width: 50%;
}
/*# sourceMappingURL=AdminSidebar.css.map */