body {
  font-size: 100%;
  font-family: sans-serif;
  background-color: #1c1c22;
}

div.modal-content {
  background-color: rgba(28, 28, 34, 0.7);
  border-color: #ff9300;
  border-radius: 28px;
  margin-top: 14%;
}

div.modal-content div.modal-body {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 0;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

div.modal-content div.modal-body div.modal-title h2 {
  color: #fff;
  font-weight: bold;
}

div.modal-content div.modal-body div.modal-title h2 span {
  font-weight: bold;
  color: #ff9300;
}

div.modal-content div.modal-body div.modal-title p.text-white {
  margin-top: .5rem;
  font-size: 90%;
}

div.modal-content div.modal-body div.modal-title p.text-white a {
  font-size: 80%;
  color: red;
  font-weight: bold;
}

div.modal-content div.modal-body div.modal-title p.text-white a:focus {
  outline: none;
}

div.modal-content div.modal-body form.form-login {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.modal-content div.modal-body form.form-login div.form-fields {
  padding: 0;
  margin-top: .5rem;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div.modal-content div.modal-body form.form-login div.form-fields label {
  font-size: 80%;
  color: red;
  font-weight: bold;
  width: 70%;
}

div.modal-content div.modal-body form.form-login div.form-fields div.input-group span {
  position: absolute;
  right: 10px;
  z-index: 10;
  top: 5px;
}

div.modal-content div.modal-body form.form-login div.form-fields input {
  direction: ltr;
  border-color: #36363b;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 7px;
}

div.modal-content div.modal-body form.form-login div.form-fields input:focus {
  box-shadow: 0 0 1px 0.2rem rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
}

div.modal-content div.modal-body form.form-login div.form-fields small a {
  color: #ff9300;
  font-weight: bold;
}

div.modal-content div.modal-body form.form-login div.form-fields div.form-validate {
  color: red;
  font-size: 90%;
}

div.modal-content div.modal-body form.form-login a.forgot {
  font-size: 85%;
  color: #ff9300;
  font-weight: bold;
  width: 75%;
  text-align: right;
}

div.modal-content div.modal-body form.form-login a.forgot:focus {
  outline: none;
}

div.modal-content div.modal-body form.form-login div.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.modal-content div.modal-body form.form-login div.form-group button {
  background-color: #ff9300;
  border-color: #ff9300;
  border-radius: 28px;
  outline: none;
  font-size: 95%;
  color: #fff;
}

div.modal-content div.modal-body form.form-login div.form-group button:focus {
  box-shadow: 0 0 1px 0.2rem rgba(255, 147, 0, 0.3);
}
/*# sourceMappingURL=formlogin.css.map */