body {
  font-size: 100%;
  font-family: sans-serif;
  background-color: #1c1c22;
}

div.container-fluid.leader-boards {
  background-image: url("./../images/Soldier.png"), url("./../images/background-leader-boards.png");
  background-repeat: no-repeat;
  background-size: 30% 330px, 100% 100%;
  background-position: right 100%, 0 0;
  width: 100%;
}

div.container-fluid.leader-boards div.card#content {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  border-left: 1px solid #ff9300;
  border-top: 2px solid #ff9300;
  border-bottom: 0;
  border-right: 0;
  border-radius: 0;
  position: relative;
  left: 0;
  height: max-content;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

div.container-fluid.leader-boards div.card#content div.all-view-component {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

div.container-fluid.leader-boards div.card#content div.all-view-component p.text-muted {
  font-weight: bold;
  font-size: 75%;
  margin-bottom: .3rem;
  text-align: left;
  margin-left: 3.2rem;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.buttons-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 15%;
  margin-left: 3rem;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.buttons-top div.all-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: .8rem;
  border: 1px solid rgba(206, 123, 119, 0.7);
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0 0.05rem rgba(206, 123, 119, 0.35);
  border-radius: 7px;
  color: #ffffff;
  width: 20%;
  height: 30px;
  font-size: 90%;
  margin-left: .4rem;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.buttons-top div.all-button:first-child {
  margin-left: 0;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.buttons-top div.all-button:hover, div.container-fluid.leader-boards div.card#content div.all-view-component div.buttons-top div.all-button:focus {
  background-color: rgba(197, 132, 129, 0.7);
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.title-table {
  border: 1px solid rgba(206, 123, 119, 0.7);
  box-shadow: 0 0 0 0.05rem rgba(206, 123, 119, 0.35);
  background-color: rgba(0, 0, 0, 0.15);
  width: 90%;
  height: max-content;
  padding: .2rem 0;
  margin: .5rem;
  display: flex;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.title-table div.section-1.user-info {
  padding: 0 1rem;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.title-table div.section-1.user-info i.image-icon.fas.fa-user-circle {
  font-size: 45px;
  width: 45px;
  height: 45px;
  color: rgba(255, 255, 255, 0.7);
  margin: .2rem 1rem .2rem 0;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.title-table div.section-1.user-info p.user-name {
  display: flex;
  color: rgba(255, 255, 255, 0.7);
  font-size: 90%;
  align-items: center;
  height: 100%;
  font-weight: 600;
  margin-bottom: 0;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.title-table div.section-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.title-table div.section-2 span.section-2-1,
div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.title-table div.section-2 span.section-2-2,
div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.title-table div.section-2 span.section-2-3 {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.title-table div.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-left: 1rem;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.title-table div.section-3 span.section-3-1 {
  color: rgba(255, 255, 255, 0.7);
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.scroll-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(206, 123, 119, 0.7);
  width: 1%;
  margin: .5rem;
  margin-right: .1rem;
  height: 97%;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content {
  border: 1px solid rgba(206, 123, 119, 0.7);
  box-shadow: 0 0 0 0.05rem rgba(206, 123, 119, 0.35);
  background-color: rgba(0, 0, 0, 0.15);
  width: 92%;
  height: max-content;
  margin: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive {
  width: 100%;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped {
  width: 100%;
  height: 70%;
  margin-bottom: 0;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped thead.headers-table {
  width: 100%;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped thead.headers-table tr.header-table.line-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(54, 54, 59, 0.7);
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped thead.headers-table tr.header-table.line-1 div.header-table-part-1 {
  display: flex;
  justify-content: space-between;
  width: 45%;
  padding: 0;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped thead.headers-table tr.header-table.line-1 div.header-table-part-1 th.header-table-title {
  border: 0;
  font-size: 80%;
  font-weight: 600;
  color: white;
  width: max-content;
  display: flex;
  align-self: center;
  justify-content: center;
  position: sticky;
  top: 0;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped thead.headers-table tr.header-table.line-1 div.header-table-part-2 {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped thead.headers-table tr.header-table.line-1 div.header-table-part-2 th.header-table-title {
  border: 0;
  font-size: 80%;
  font-weight: 600;
  color: rgba(149, 154, 162, 0.7);
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  position: sticky;
  top: 0;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped thead.headers-table tr.header-table.line-2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid black;
  box-shadow: 0 0 0 0.05rem rgba(0, 0, 0, 0.7);
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped thead.headers-table tr.header-table.line-2 div.header-table-part-all {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped thead.headers-table tr.header-table.line-2 div.header-table-part-all th.header-table-title {
  border: 0;
  font-size: 80%;
  font-weight: 600;
  color: white;
  display: flex;
  align-self: center;
  justify-content: center;
  width: max-content;
  position: sticky;
  top: 0;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped thead.headers-table tr.header-table.line-2 div.header-table-part-all th:nth-child(1) {
  width: 35%;
  justify-content: flex-start;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped thead.headers-table tr.header-table.line-2 div.header-table-part-all th:nth-child(2) {
  width: 20%;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped thead.headers-table tr.header-table.line-2 div.header-table-part-all th:nth-child(3) {
  width: 20%;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped thead.headers-table tr.header-table.line-2 div.header-table-part-all th:nth-child(4) {
  width: 20%;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped thead.headers-table tr.header-table.line-2 div.header-table-part-all th:nth-child(5) {
  width: 20%;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped tbody.bodys-table {
  width: 100%;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped tbody.bodys-table tr.body-table {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: flex-start;
  border: 0;
  border-bottom: 1px solid rgba(149, 154, 162, 0.5);
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped tbody.bodys-table tr.body-table:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped tbody.bodys-table tr.body-table td.body-table-content {
  color: white;
  font-size: 90%;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped tbody.bodys-table tr.body-table td.body-table-content div.table-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped tbody.bodys-table tr.body-table td.body-table-content div.table-data i.fas.fa-medal {
  display: flex;
  justify-content: center;
  min-width: 10%;
  font-size: 28px;
  color: #feb72b;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped tbody.bodys-table tr.body-table td.body-table-content div.table-data div.number {
  display: flex;
  justify-content: center;
  width: 30px;
  margin-right: .5rem;
  margin-left: .5rem;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped tbody.bodys-table tr.body-table td.body-table-content div.table-data i.image-icon.fas.fa-user-circle {
  min-width: 10%;
  font-size: 30px;
  margin-right: .3rem;
  margin-left: .3rem;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped tbody.bodys-table tr.body-table td.body-table-content div.table-data div.user-name {
  display: flex;
  justify-content: center;
  width: 100px;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea-content.content div.all-view-table div.scroll-table div.table-content div.table-responsive table.all-table.table.table-striped tbody.bodys-table tr.body-table:nth-child(2n) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0.05rem rgba(0, 0, 0, 0.7);
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollbar-container.vertical {
  width: 22px;
  background-color: transparent;
  border: 1px solid rgba(206, 123, 119, 0.7);
  position: absolute;
  left: 1.5%;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollbar-container.vertical div.scrollbar {
  width: 21px;
  color: rgba(206, 123, 119, 0.7);
  background-color: rgba(206, 123, 119, 0.7);
  border-radius: 28px;
  position: absolute;
  right: -1px;
}

div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area div.scrollarea .scrollbar-container.active,
div.container-fluid.leader-boards div.card#content div.all-view-component div.scrollarea.area .scrollarea .scrollbar-container:hover {
  background: gray;
  opacity: .9 !important;
}
/*# sourceMappingURL=LeaderBoards.css.map */