body {
  font-size: 100%;
  font-family: sans-serif;
  background-color: #1c1c22;
}

@media (max-width: 1199px) {
  div.container-fluid.userAccount {
    background-size: 65% 100%, 100%;
  }
  div.container-fluid.userAccount div.card#content {
    height: max-content;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    min-height: 100%;
  }
  div.container-fluid.userAccount div.card#content div.row.games {
    margin: .8rem 0;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.game {
    padding: 0;
    width: 25%;
    margin-bottom: 1.5rem;
    margin-right: auto;
    z-index: 15;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.game img.game-image {
    margin-bottom: .8rem;
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
  }
  div.container-fluid.userAccount div.card#content div.row.games div.game div.online {
    width: 50%;
    padding-left: .5rem;
    border-radius: 28px;
    padding-top: .5rem;
    font-size: 85%;
    padding-bottom: .5rem;
  }
  div.container-fluid.userAccount div.card#content div.empty-square {
    width: 14%;
    height: 25%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 991px) {
  div.container-fluid.userAccount {
    background-size: 65% 100%, 100%;
  }
  div.container-fluid.userAccount div.card#content {
    height: max-content;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    min-height: 100%;
  }
  div.container-fluid.userAccount div.card#content div.row.games {
    margin: .8rem 0;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.game {
    padding: 0;
    width: 33%;
    margin-bottom: 1.5rem;
    margin-right: auto;
    z-index: 15;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.game img.game-image {
    width: 185px;
    margin-bottom: .8rem;
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
  }
  div.container-fluid.userAccount div.card#content div.row.games div.game div.online {
    width: 50%;
    padding-left: .5rem;
    border-radius: 28px;
    padding-top: .5rem;
    font-size: 85%;
    padding-bottom: .5rem;
  }
  div.container-fluid.userAccount div.card#content div.empty-square {
    width: 14%;
    height: 25%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 768px) {
  div.container-fluid.userAccount {
    background-size: 65% 100%, 100%;
  }
  div.container-fluid.userAccount div.card#content {
    height: max-content;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    min-height: 100%;
  }
  div.container-fluid.userAccount div.card#content div.row.games {
    margin: .8rem 0;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.game img.game-image {
    width: 185px;
    margin-bottom: .8rem;
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
  }
  div.container-fluid.userAccount div.card#content div.row.games div.game div.online {
    width: 50%;
    padding-left: .5rem;
    border-radius: 28px;
    padding-top: .5rem;
    font-size: 85%;
    padding-bottom: .5rem;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-duplicate {
    padding: 0;
    margin-bottom: 1rem;
    z-index: 15;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-duplicate img.game-image {
    margin-bottom: .6rem;
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-duplicate div.online {
    background: black;
    color: #959aa2;
    width: 50%;
    border-radius: 28px;
    padding-top: .5rem;
    padding-left: .5rem;
    padding-bottom: .5rem;
    font-size: 80%;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-active img.game-image {
    margin-bottom: .6rem;
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
    transform: scale(1);
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-prev img.game-image {
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
    transform: scale(0.85);
    opacity: .8;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-next img.game-image {
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
    transform: scale(0.85);
    opacity: .8;
  }
  div.container-fluid.userAccount div.card#content div.empty-square {
    width: 14%;
    height: 25%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
/*# sourceMappingURL=mediaUserAccount.css.map */