body {
  font-size: 100%;
  font-family: sans-serif;
  background-color: #1c1c22;
}

@media (max-width: 1200px) {
  div.container-fluid.userAccount {
    background-size: 65% 100%, 100%;
  }
  div.container-fluid.userAccount div.card#content {
    height: max-content;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    min-height: 100%;
  }
  div.container-fluid.userAccount div.card#content div.row.games {
    margin: .8rem 0;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.game {
    padding: 0;
    width: 21%;
    margin-bottom: 1.5rem;
    margin-right: auto;
    margin-left: 0;
    z-index: 15;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.game img.game-image {
    margin-bottom: .8rem;
    width: 160px;
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
  }
  div.container-fluid.userAccount div.card#content div.row.games div.game div.online {
    width: 70%;
    padding-left: .5rem;
    border-radius: 28px;
    padding-top: .5rem;
    font-size: 85%;
    padding-bottom: .5rem;
  }
  div.container-fluid.userAccount div.card#content div.empty-square {
    width: 14%;
    height: 25%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 991px) {
  div.container-fluid.userAccount {
    background-size: 65% 100%, 100%;
  }
  div.container-fluid.userAccount div.card#content {
    height: max-content;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    min-height: 100%;
  }
  div.container-fluid.userAccount div.card#content div.row.games {
    margin: .8rem 0 .8rem 1rem;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.game {
    padding: 0;
    width: 21%;
    margin-bottom: 1.5rem;
    margin-right: auto;
    z-index: 15;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.game img.game-image {
    width: 150px;
    margin-bottom: .8rem;
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
  }
  div.container-fluid.userAccount div.card#content div.row.games div.game div.online {
    width: 70%;
    padding-left: .5rem;
    border-radius: 28px;
    padding-top: .5rem;
    font-size: 85%;
    padding-bottom: .5rem;
  }
  div.container-fluid.userAccount div.card#content div.empty-square {
    width: 14%;
    height: 25%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 891px) {
  div.container-fluid.userAccount div.card#content {
    height: max-content;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    min-height: 100%;
  }
  div.container-fluid.userAccount div.card#content div.row.games {
    margin: .8rem 0 .8rem 1rem;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.game {
    padding: 0;
    width: 21%;
    margin-bottom: 1.5rem;
    margin-right: auto;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.game img.game-image {
    width: 140px;
    margin-bottom: .7rem;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.game div.online {
    width: 70%;
    padding-left: .5rem;
    border-radius: 28px;
    padding-top: .5rem;
    font-size: 83%;
    padding-bottom: .5rem;
  }
  div.container-fluid.userAccount div.card#content div.empty-square {
    width: 14%;
    height: 25%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 767px) {
  div.container-fluid.userAccount {
    width: 80%;
  }
  div.container-fluid.userAccount div.card#content {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    min-height: 100%;
  }
  div.container-fluid.userAccount div.card#content div.row.games {
    margin: .8rem 0;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper {
    width: 100%;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-prev img.game-image,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-next img.game-image,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-duplicate img.game-image,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game img.game-image {
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
    transform: scale(0.85);
    opacity: .8;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-prev div.online,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-next div.online,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-duplicate div.online,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game div.online {
    width: 70%;
    padding: .5rem;
    font-size: 80%;
    position: relative;
    bottom: 1rem;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-active img.game-image {
    margin-bottom: .6rem;
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
    transform: scale(1);
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-active div.online {
    width: 90%;
    padding: .5rem;
    font-size: 85%;
    position: relative;
    bottom: 0;
  }
  div.container-fluid.userAccount div.card#content div.empty-square {
    width: 14%;
    height: 25%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 690px) {
  div.container-fluid.userAccount {
    width: 80%;
  }
  div.container-fluid.userAccount div.card#content {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    min-height: 100%;
  }
  div.container-fluid.userAccount div.card#content div.row.games {
    margin: .8rem 0;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper {
    width: 100%;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-prev,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-next,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-duplicate,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game {
    width: 23%;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-prev img.game-image,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-next img.game-image,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-duplicate img.game-image,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game img.game-image {
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
    transform: scale(0.85);
    opacity: .8;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-prev div.online,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-next div.online,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-duplicate div.online,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game div.online {
    width: 75%;
    padding: .5rem;
    font-size: 78%;
    position: relative;
    bottom: 1rem;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-active {
    width: 40%;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-active img.game-image {
    margin-bottom: .6rem;
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
    transform: scale(1);
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-active div.online {
    width: 55%;
    padding: .5rem;
    font-size: 80%;
    position: relative;
    bottom: 0;
  }
  div.container-fluid.userAccount div.card#content div.empty-square {
    width: 14%;
    height: 25%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 575px) {
  div.container-fluid.userAccount {
    width: 100%;
    background-size: 65% 100%, 100%;
    -webkit-box-reflect: unset;
  }
  div.container-fluid.userAccount div.card#content {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    min-height: 100%;
  }
  div.container-fluid.userAccount div.card#content div.row.games {
    margin: .7rem 0;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper {
    width: 100%;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-prev img.game-image,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-next img.game-image,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-duplicate img.game-image,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game img.game-image {
    width: 120px;
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
    transform: scale(0.85);
    opacity: .7;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-prev div.online,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-next div.online,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-duplicate div.online,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game div.online {
    width: 70%;
    padding: .4rem;
    font-size: 75%;
    position: relative;
    bottom: 1.1rem;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-active img.game-image {
    width: 130px;
    margin-bottom: .6rem;
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
    transform: scale(1);
    opacity: 1;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-active div.online {
    width: 50%;
    padding: .45rem;
    font-size: 78%;
    position: relative;
    bottom: 0;
  }
  div.container-fluid.userAccount div.card#content div.empty-square {
    width: 14%;
    height: 25%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 450px) {
  div.container-fluid.userAccount {
    width: 100%;
    background-size: 65% 100%, 100%;
    -webkit-box-reflect: unset;
  }
  div.container-fluid.userAccount div.card#content {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    min-height: 100%;
  }
  div.container-fluid.userAccount div.card#content div.row.games {
    margin: .6rem 0;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper {
    width: 100%;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-prev img.game-image,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-next img.game-image,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-duplicate img.game-image,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game img.game-image {
    width: 120px;
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
    transform: scale(0.85);
    opacity: .7;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-prev div.online,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-next div.online,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-duplicate div.online,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game div.online {
    width: 85%;
    padding: .35rem;
    font-size: 75%;
    position: relative;
    bottom: 1.1rem;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-active img.game-image {
    width: 130px;
    margin-bottom: .6rem;
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
    transform: scale(1);
    opacity: 1;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-active div.online {
    width: 65%;
    padding: .4rem;
    font-size: 78%;
    position: relative;
    bottom: 0;
  }
  div.container-fluid.userAccount div.card#content div.empty-square {
    width: 14%;
    height: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 365px) {
  div.container-fluid.userAccount {
    width: 100%;
    background-size: 65% 100%, 100%;
    -webkit-box-reflect: unset;
  }
  div.container-fluid.userAccount div.card#content {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    min-height: 100%;
  }
  div.container-fluid.userAccount div.card#content div.row.games {
    margin: .6rem 0;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper {
    width: 100%;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-prev img.game-image,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-next img.game-image,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-duplicate img.game-image,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game img.game-image {
    width: 107px;
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
    transform: scale(0.85);
    opacity: .7;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-prev div.online,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-next div.online,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-duplicate div.online,
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game div.online {
    width: 95%;
    padding: .3rem;
    font-size: 70%;
    position: relative;
    bottom: 1.1rem;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-active img.game-image {
    width: 125px;
    margin-bottom: .6rem;
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
    transform: scale(1);
    opacity: 1;
  }
  div.container-fluid.userAccount div.card#content div.row.games div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide.game.swiper-slide-active div.online {
    width: 75%;
    padding: .4rem;
    font-size: 75%;
    position: relative;
    bottom: 0;
  }
  div.container-fluid.userAccount div.card#content div.empty-square {
    width: 14%;
    height: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
/*# sourceMappingURL=mediaUserAccount.css.map */