body {
  font-size: 100%;
  font-family: sans-serif;
  background-color: #1c1c22;
}

@media (max-width: 1120px) {
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content {
    height: 60%;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles {
    position: relative;
    left: 17%;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text {
    width: max-content;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text h1.Tournament {
    font-size: 2.45rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text h1.title {
    font-size: 2.45rem;
    margin-top: .5rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text h1.title span.h1 {
    font-size: 2.45rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text h1.garanti {
    font-size: 2.45rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.swiper-container.swiper-container-initialized.swiper-container-horizontal {
    width: 70%;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.images-content.images img.image-fluid {
    margin-top: 2rem;
    width: 50%;
  }
}

@media (max-width: 1015px) {
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.sidebar-slider div.card-columns.card-columns-slider div.card#social-medias {
    width: 55px;
    height: 55px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.sidebar-slider div.card-columns.card-columns-slider div.card#social-medias div.card-body#social-media {
    display: block;
    padding: .5rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.sidebar-slider div.card-columns.card-columns-slider div.card#social-medias div.card-body#social-media a.icon-media {
    width: 35px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content {
    height: 60%;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.top {
    width: 45px;
    height: 45px;
    position: relative;
    top: 1.3rem;
    left: 1.7rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles {
    position: relative;
    left: 15%;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.line-orange {
    width: 55px;
    height: 27px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text {
    width: max-content;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text h1.Tournament {
    font-size: 2.3rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text h1.title {
    font-size: 2.3rem;
    margin-top: .4rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text h1.title span.h1 {
    font-size: 2.3rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text h1.garanti {
    font-size: 2.5rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.bottom {
    width: 45px;
    height: 45px;
    position: relative;
    left: 1.7rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.swiper-container.swiper-container-initialized.swiper-container-horizontal {
    width: 70%;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets span.swiper-pagination-bullet {
    height: 25px;
    padding-right: 1.3rem;
    font-size: 13px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    font-size: 17px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.images-content.images {
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.images-content.images img.image-fluid {
    margin-top: 2rem;
    width: 50%;
  }
}

@media (max-width: 970px) {
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.sidebar-slider div.card-columns.card-columns-slider div.card#social-medias div.card-body#social-media a.icon-media {
    width: 30px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.sidebar-slider div.card-columns.card-columns-slider div.card#social-medias div.card-body#social-media a.icon-media img.icon-image {
    height: 30px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.sidebar-slider div.card-columns.card-columns-slider div.card#social-medias div.card-body#social-media a.icon-media img.icon-image.twitter {
    height: 28px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.top {
    width: 41px;
    height: 41px;
    position: relative;
    top: 1.25rem;
    left: 1.5rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles {
    position: relative;
    left: 13.3%;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.line-orange {
    width: 52px;
    height: 27px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text {
    width: max-content;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text h1.Tournament {
    font-size: 2.25rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text h1.title {
    font-size: 2.25rem;
    margin-top: .4rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text h1.title span.h1 {
    font-size: 2.25rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text h1.garanti {
    font-size: 2.3rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.bottom {
    width: 41px;
    height: 41px;
    position: relative;
    left: 1.5rem;
    bottom: .6rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets span.swiper-pagination-bullet {
    height: 23px;
    padding-right: 1.25rem;
    font-size: 13px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    font-size: 17px;
  }
}

@media (max-width: 890px) {
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.sidebar-slider div.card-columns.card-columns-slider div.card#social-medias {
    width: 50px;
    height: 50px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.sidebar-slider div.card-columns.card-columns-slider div.card#social-medias div.card-body#social-media {
    display: block;
    padding: .5rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.sidebar-slider div.card-columns.card-columns-slider div.card#social-medias div.card-body#social-media a.icon-media {
    width: 30px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.sidebar-slider div.card-columns.card-columns-slider div.card#social-medias div.card-body#social-media a.icon-media img.icon-image {
    height: 28px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.sidebar-slider div.card-columns.card-columns-slider div.card#social-medias div.card-body#social-media a.icon-media img.icon-image.twitter {
    height: 25px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content {
    height: 60%;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles {
    width: 33%;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.top {
    width: 40px;
    height: 40px;
    position: relative;
    top: 1.1rem;
    left: 1.4rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles {
    position: relative;
    left: 14%;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.line-orange {
    width: 49px;
    height: 25px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text {
    width: max-content;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text h1.Tournament {
    font-size: 2.12rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text h1.title {
    font-size: 2.12rem;
    margin-top: .35rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text h1.title span.h1 {
    font-size: 2.12rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text h1.garanti {
    font-size: 2.22rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.bottom {
    width: 40px;
    height: 40px;
    position: relative;
    left: 1.4rem;
    bottom: .6rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.swiper-container.swiper-container-initialized.swiper-container-horizontal {
    width: 67%;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets span.swiper-pagination-bullet {
    height: 25px;
    padding-right: 1.3rem;
    font-size: 13px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    font-size: 17px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.images-content.images {
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.images-content.images img.image-fluid {
    margin-top: 2rem;
    width: 50%;
  }
}

@media (max-width: 798px) {
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.sidebar-slider div.card-columns.card-columns-slider div.card#social-medias {
    width: 50px;
    height: 50px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.sidebar-slider div.card-columns.card-columns-slider div.card#social-medias div.card-body#social-media {
    display: block;
    padding: .5rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.sidebar-slider div.card-columns.card-columns-slider div.card#social-medias div.card-body#social-media a.icon-media {
    width: 30px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.sidebar-slider div.card-columns.card-columns-slider div.card#social-medias div.card-body#social-media a.icon-media img.icon-image {
    height: 28px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.sidebar-slider div.card-columns.card-columns-slider div.card#social-medias div.card-body#social-media a.icon-media img.icon-image.twitter {
    height: 25px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content {
    height: 60%;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles {
    width: 33%;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.top {
    width: 40px;
    height: 40px;
    position: relative;
    top: 1.1rem;
    left: 1.4rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles {
    position: relative;
    left: 14%;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.line-orange {
    width: 49px;
    height: 25px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text {
    width: max-content;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text h1.Tournament {
    font-size: 2.12rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text h1.title {
    font-size: 2.12rem;
    margin-top: .35rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text h1.title span.h1 {
    font-size: 2.12rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.card-body-titles div.card-text h1.garanti {
    font-size: 2.22rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.titles div.bottom {
    width: 40px;
    height: 40px;
    position: relative;
    left: 1.4rem;
    bottom: .6rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.swiper-container.swiper-container-initialized.swiper-container-horizontal {
    width: 67%;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets span.swiper-pagination-bullet {
    height: 25px;
    padding-right: 1.3rem;
    font-size: 13px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.content-slider#content div.main-content div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    font-size: 17px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.images-content.images {
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.images-content.images img.image-fluid {
    margin-top: 2rem;
    width: 50%;
  }
}

@media (max-width: 690px) {
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.sidebar-slider div.card-columns.card-columns-slider div.card {
    width: 45px;
    height: 45px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.card.ccc div.card-body {
    height: 85%;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.card.ccc div.card-body div.card-text h1.Tournament {
    font-size: 1.8rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.card.ccc div.card-body div.card-text h1.title {
    font-size: 1.8rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.card.ccc div.card-body div.card-text h1.title span.h1 {
    font-size: 1.8rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.card.ccc div.card-body div.card-text h1.garanti {
    font-size: 1.8rem;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.card.ccc div.swiper-container.swiper-container-initialized.swiper-container-horizontal {
    width: 55%;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.card.ccc div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper {
    width: 100%;
    margin-right: 0;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.card.ccc div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-wrapper div.swiper-slide {
    width: 100%;
    height: 60vh;
    display: flex;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.card.ccc div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    display: flex;
    flex-direction: column;
    height: 130px;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.card.ccc div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets span.swiper-pagination-bullet {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    padding-right: 1rem;
    color: #ffffff;
    font-size: 13px;
    background: transparent;
  }
  section.main-slider div.container-fluid.box-slider div.row.pratition-slider div.card.ccc div.swiper-container.swiper-container-initialized.swiper-container-horizontal div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    font-size: 17px;
  }
  section.main-slider div.container-fluid.box-slider div.row.images {
    width: 90%;
  }
}
/*# sourceMappingURL=mediaSlider.css.map */