body {
  font-size: 100%;
  font-family: sans-serif;
  background-color: #1c1c22;
}

li.nav-item-icon.nav-item#wallet {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  width: 40px;
  height: 50px;
}

li.nav-item-icon.nav-item#wallet a.nav-link {
  width: 40px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: .5rem;
  color: #b0b0b2;
  text-decoration: none;
}

li.nav-item-icon.nav-item#wallet a.nav-link:focus {
  outline: none;
}

li.nav-item-icon.nav-item#wallet a.nav-link svg.MuiSvgIcon-root.image-icon#wallet {
  height: 25px;
  width: 25px;
}

li.nav-item-icon.nav-item#wallet a.nav-link svg.MuiSvgIcon-root.image-icon#wallet:focus, li.nav-item-icon.nav-item#wallet a.nav-link svg.MuiSvgIcon-root.image-icon#wallet:active, li.nav-item-icon.nav-item#wallet a.nav-link svg.MuiSvgIcon-root.image-icon#wallet:hover {
  color: #ff9300;
}

div.modal-dialog.modal-wallet {
  display: flex;
  justify-content: flex-start;
}

div.modal-dialog.modal-wallet div.modal-content {
  width: 70%;
  position: relative;
  top: 5rem;
  left: 35%;
  border-radius: 30px;
}

div.modal-dialog.modal-wallet div.modal-content div.modal-body {
  background-color: black;
  border-color: #ff9300;
  border-radius: 28px;
  padding: 0;
}

div.modal-dialog.modal-wallet div.modal-content div.modal-body div.modal-header {
  background-color: #1c1c22;
  width: 100%;
  height: 40px;
  display: flex;
  border-radius: 28px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  border-bottom: 0;
}

div.modal-dialog.modal-wallet div.modal-content div.modal-body div.modal-header h2 {
  margin-left: 1.2rem;
  color: #ffffff;
  font-size: 1.4rem;
}

div.modal-dialog.modal-wallet div.modal-content div.modal-body div.modal-header h2::first-letter {
  color: #ff9300;
}

div.modal-dialog.modal-wallet div.modal-content div.modal-body div.content-wallet {
  display: flex;
  width: 100%;
  background-color: transparent;
  height: 65px;
}

div.modal-dialog.modal-wallet div.modal-content div.modal-body div.content-wallet div.content-right {
  width: 50%;
  border: 1px solid #ff9300;
  border-left: 0;
  border-top: 0;
  display: flex;
  align-items: center;
}

div.modal-dialog.modal-wallet div.modal-content div.modal-body div.content-wallet div.content-right span.content-right-span {
  color: #959aa2;
  font-size: 95%;
  margin-left: 1rem;
}

div.modal-dialog.modal-wallet div.modal-content div.modal-body div.content-wallet div.content-left {
  width: 50%;
  border: 1px solid #ff9300;
  border-right: 0;
  border-top: 0;
  display: flex;
  align-items: center;
}

div.modal-dialog.modal-wallet div.modal-content div.modal-body div.content-wallet div.content-left span.content-left-span {
  color: #959aa2;
  font-size: 95%;
  margin-left: 1rem;
}

div.modal-dialog.modal-wallet div.modal-content div.modal-body div.wallet-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 96%;
  margin: .5rem;
  height: 45px;
}

div.modal-dialog.modal-wallet div.modal-content div.modal-body div.wallet-buttons button.deposit {
  background-color: #ff9300;
  border-color: #ff9300;
  border-radius: 28px;
  outline: none;
  font-size: 95%;
  color: #fff;
  width: 40%;
}

div.modal-dialog.modal-wallet div.modal-content div.modal-body div.wallet-buttons button.deposit:focus {
  box-shadow: 0 0 1px 0.1rem rgba(255, 147, 0, 0.3);
}

div.modal-dialog.modal-wallet div.modal-content div.modal-body div.wallet-buttons button.withDraw {
  background-color: #1c1c22;
  border-color: #1c1c22;
  border-radius: 28px;
  outline: none;
  font-size: 95%;
  color: #fff;
  width: 40%;
  margin-top: 0 !important;
}

div.modal-dialog.modal-wallet div.modal-content div.modal-body div.wallet-buttons button.withDraw:focus {
  box-shadow: 0 0 1px 0.1rem rgba(54, 54, 59, 0.3);
}

div.modal-dialog.modal-wallet div.modal-content div.modal-body div.modal-wallet-footer {
  width: 100%;
  height: 35px;
  background-color: #1c1c22;
  border-radius: 28px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

div.modal-dialog.modal-wallet div.modal-content div.modal-body div.modal-wallet-footer span.modal-wallet-footer-text {
  color: #36363b;
  font-size: 90%;
  font-weight: 600;
  width: 100%;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/*# sourceMappingURL=wallet.css.map */