@import './../base';

@media(max-width:1200px) {
    div.container-fluid.userAccount {
        background-size: 65% 100%, 100%;

        div.card#content {
            height: max-content;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            min-height: 100%;

            div.row.games {
                margin: .8rem 0;

                div.game {
                    padding: 0;
                    width: 21%;
                    margin-bottom: 1.5rem;
                    margin-right: auto;
                    margin-left: 0;
                    z-index: 15;

                    img.game-image {
                        margin-bottom: .8rem;
                        width: 160px;
                        -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
                    }

                    div.online {
                        width: 70%;
                        height: 35px;
                        padding-left: .5rem;
                        border-radius: 28px;
                        padding-top: .5rem;
                        font-size: 85%;
                        padding-bottom: .5rem;
                    }
                }
            }

            div.empty-square {
                width: 14%;
                height: 25%;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

    }
}

@media(max-width:991px) {
    div.container-fluid.userAccount {
        background-size: 65% 100%, 100%;

        div.card#content {
            height: max-content;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            min-height: 100%;

            div.row.games {
                margin: .8rem 0 .8rem 1rem;

                div.game {
                    padding: 0;
                    width: 21%;
                    margin-bottom: 1.5rem;
                    margin-right: auto;
                    z-index: 15;

                    img.game-image {
                        // height: 50%;
                        width: 150px;
                        margin-bottom: .8rem;
                        -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
                    }

                    div.online {
                        width: 80%;
                        height: 35px;
                        padding-left: .5rem;
                        border-radius: 28px;
                        padding-top: .5rem;
                        font-size: 80%;
                        padding-bottom: .5rem;
                    }
                }
            }

            div.empty-square {
                width: 14%;
                height: 25%;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

    }
}

@media(max-width:891px) {
    div.container-fluid.userAccount {
        div.card#content {
            height: max-content;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            min-height: 100%;

            div.row.games {
                margin: .8rem 0 .8rem 1rem;

                div.game {
                    padding: 0;
                    width: 21%;
                    margin-bottom: 1.5rem;
                    margin-right: auto;

                    img.game-image {
                        width: 140px;
                        margin-bottom: .7rem;
                    }

                    div.online {
                        width: 80%;
                        padding-left: .5rem;
                        border-radius: 28px;
                        padding-top: .5rem;
                        font-size: 83%;
                        padding-bottom: .5rem;
                    }
                }
            }

            div.empty-square {
                width: 14%;
                height: 25%;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

    }
}

@media(max-width:767px) {
    div.container-fluid.userAccount {
        width: 80%;

        div.card#content {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            min-height: 100%;

            div.row.games {
                margin: .8rem 0;

                div.swiper-container.swiper-container-initialized.swiper-container-horizontal {
                    div.swiper-wrapper {
                        // width: 100%;

                        div.swiper-slide.game.swiper-slide-prev,
                        div.swiper-slide.game.swiper-slide-next,
                        div.swiper-slide.game.swiper-slide-duplicate,
                        div.swiper-slide.game {
                            // width: 25%;

                            img.game-image {
                                -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
                                transform: scale(.83);
                                opacity: .75;
                            }

                            div.online {
                                width: 75%;
                                height: 30px;
                                padding: .3rem;
                                font-size: 80%;
                                position: relative;
                                bottom: 1rem;
                            }
                        }

                        div.swiper-slide.game.swiper-slide-active {
                            // width: 45%;

                            img.game-image {
                                width: 150px;
                                margin-bottom: .6rem;
                                -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
                                transform: scale(1);
                                opacity: 1;
                            }

                            div.online {
                                width: 90%;
                                padding: .3rem;
                                font-size: 83%;
                                position: relative;
                                bottom: 0;

                            }
                        }
                    }
                }
            }

            div.empty-square {
                width: 14%;
                height: 25%;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

    }
}

@media(max-width:690px) {
    div.container-fluid.userAccount {
        width: 80%;

        div.card#content {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            min-height: 100%;
            height: 100vh;

            div.row.games {
                margin: .8rem 0;

                div.swiper-container.swiper-container-initialized.swiper-container-horizontal {
                    div.swiper-wrapper {
                        width: 100%;

                        div.swiper-slide.game.swiper-slide-prev,
                        div.swiper-slide.game.swiper-slide-next,
                        div.swiper-slide.game.swiper-slide-duplicate,
                        div.swiper-slide.game {
                            width: 23%;

                            img.game-image {
                                -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
                                transform: scale(.85);
                                opacity: .75;
                            }

                            div.online {
                                width: 75%;
                                font-size: 78%;
                                position: relative;
                                bottom: 1rem;
                            }
                        }

                        div.swiper-slide.game.swiper-slide-active {
                            width: 38%;

                            img.game-image {
                                width: 130px;
                                margin-bottom: .6rem;
                                opacity: 1.0;
                                -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
                                transform: scale(1);
                            }

                            div.online {
                                width: 58%;
                                font-size: 80%;
                                position: relative;
                                bottom: 0;

                            }
                        }
                    }
                }
            }

            div.empty-square {
                width: 14%;
                height: 25%;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

    }
}

@media(max-width:575px) {
    div.container-fluid.userAccount {
        width: 100%;
        background-size: 65% 100%, 100%;
        -webkit-box-reflect: unset;

        div.card#content {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            min-height: 100%;

            div.row.games {
                margin: .7rem 0;

                div.swiper-container.swiper-container-initialized.swiper-container-horizontal {
                    div.swiper-wrapper {
                        width: 100%;

                        div.swiper-slide.game.swiper-slide-prev,
                        div.swiper-slide.game.swiper-slide-next,
                        div.swiper-slide.game.swiper-slide-duplicate,
                        div.swiper-slide.game {
                            // width: 23%;

                            img.game-image {
                                width: 120px;
                                -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
                                transform: scale(.85);
                                opacity: .7;
                            }

                            div.online {
                                width: 75%;
                                padding: .4rem;
                                font-size: 70%;
                                position: relative;
                                bottom: 1.1rem;
                            }
                        }

                        div.swiper-slide.game.swiper-slide-active {
                            // width: 40%;

                            img.game-image {
                                width: 130px;
                                margin-bottom: .6rem;
                                -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
                                transform: scale(1);
                                opacity: 1;
                            }

                            div.online {
                                width: 50%;
                                padding: .35rem;
                                font-size: 78%;
                                position: relative;
                                bottom: 0;

                            }
                        }
                    }
                }
            }

            div.empty-square {
                width: 14%;
                height: 25%;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
}

@media(max-width:450px) {
    div.container-fluid.userAccount {
        width: 100%;
        background-size: 65% 100%, 100%;
        -webkit-box-reflect: unset;

        div.card#content {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            min-height: 100%;

            div.row.games {
                margin: .6rem 0;

                div.swiper-container.swiper-container-initialized.swiper-container-horizontal {
                    div.swiper-wrapper {
                        width: 100%;

                        div.swiper-slide.game.swiper-slide-prev,
                        div.swiper-slide.game.swiper-slide-next,
                        div.swiper-slide.game.swiper-slide-duplicate,
                        div.swiper-slide.game {
                            // width: 23%;

                            img.game-image {
                                width: 120px;
                                -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
                                transform: scale(.85);
                                opacity: .7;
                            }

                            div.online {
                                width: 100%;
                                padding: .35rem;
                                position: relative;
                                bottom: 1.1rem;
                            }
                        }

                        div.swiper-slide.game.swiper-slide-active {
                            // width: 40%;

                            img.game-image {
                                width: 130px;
                                margin-bottom: .6rem;
                                -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
                                transform: scale(1);
                                opacity: 1;
                            }

                            div.online {
                                width: 75%;
                                padding: .3rem;
                                bottom: 0;

                            }
                        }
                    }
                }
            }

            div.empty-square {
                width: 14%;
                height: 20%;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
}


@media(max-width:365px) {
    div.container-fluid.userAccount {
        width: 100%;
        background-size: 65% 100%, 100%;
        -webkit-box-reflect: unset;

        div.card#content {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            min-height: 100%;

            div.row.games {
                margin: .6rem 0;

                div.swiper-container.swiper-container-initialized.swiper-container-horizontal {
                    div.swiper-wrapper {
                        width: 100%;

                        div.swiper-slide.game.swiper-slide-prev,
                        div.swiper-slide.game.swiper-slide-next,
                        div.swiper-slide.game.swiper-slide-duplicate,
                        div.swiper-slide.game {
                            // width: 23%;

                            img.game-image {
                                width: 107px;
                                transform: scale(.85);
                                opacity: .7;
                            }

                            div.online {
                                padding: .3rem;
                                font-size: 68%;
                                position: relative;
                                bottom: 1.1rem;
                            }
                        }

                        div.swiper-slide.game.swiper-slide-active {
                            // width: 40%;

                            img.game-image {
                                width: 125px;
                                margin-bottom: .6rem;
                                transform: scale(1);
                                opacity: 1;
                            }

                            div.online {
                                width: 80%;
                                font-size: 70%;
                                bottom: 0;

                            }
                        }
                    }
                }
            }

            div.empty-square {
                width: 14%;
                height: 20%;
                bottom: 0;
                right: 0;
            }
        }
    }
}