@import 'base';


@media(max-width :991px) {
    div.container-fluid {
        nav.navbar {
            div.nav-right {
                width: 70%;

                ul.navbar-nav {
                    padding-right: 0;

                    div.buttons {
                        li.nav-item {
                            padding-right: 5px;

                            a.nav-link#signup,
                            a.nav-link#login {
                                padding-left: 1.5rem;
                                padding-right: 1.5rem;
                            }
                        }
                    }

                    li.nav-item {
                        padding-right: 5px;

                        a.nav-link {
                            font-size: 85%;
                            padding: .5rem .7rem;
                        }

                    }

                }

            }

            div.nav-left {
                width: 27%;

                div.empty-content {
                    height: 1.9rem;
                }

                h4.UFOGame {
                    span {}
                }

                img.logo {
                    margin-right: 7px;
                    width: 45px;
                    height: 45px;
                }

            }

        }
    }
}

@media(max-width :798px) {
    div.container-fluid {
        nav.navbar {
            position: relative;

            div.nav-right {
                width: max-content;

                ul.navbar-nav {
                    padding-right: 0;

                    div.buttons {
                        display: flex;

                        li.nav-item {
                            padding-right: 5px;

                            a.nav-link#signup,
                            a.nav-link#login {
                                font-size: 85%;
                                padding-left: 1.2rem;
                                padding-right: 1.2rem;
                            }
                        }
                    }

                    li.nav-item {
                        padding-right: 5px;
                        padding-top: 0;


                        a.nav-link {
                            font-size: 85%;
                            padding: .5rem .7rem;
                        }
                    }
                }
            }

            div.nav-left {
                width: 240px;

                div.empty-content {
                    width: 90%;
                    height: 1.9rem;
                    position: relative;
                    left: -20px
                }

                h4.UFOGame {
                    width: auto;
                    margin-bottom: 0;

                    span {}
                }

                img.logo {
                    margin-right: 5px;
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}

@media (max-width :767px) {
    div.container-fluid {
        nav.navbar {
            position: relative;

            div.hamburger-menu {

                position: absolute;
                right: 1rem;
                top: 0;

                button.navbar-toggler {

                    &:focus {
                        border: none;
                        outline: 0;
                    }

                    span.navbar-toggler-icon {
                        display: flex;
                        flex-direction: column;
                        width: 2em;
                        height: 2em;
                        padding-bottom: 0;
                        padding-left: 0;
                        justify-content: center;

                    }

                    .menu {
                        border-radius: 4px;
                        padding: 4px;
                        transition: transform .3s;

                        &-line {
                            width: 100%;
                            height: 3px;
                            margin-bottom: 5px;
                            background-color: #fff;
                            transition: all .3s .3s;
                            transform-origin: left;
                        }
                    }

                }

            }

            div.nav-right {
                width: 40%;

                ul.navbar-nav {
                    padding-right: 0;

                    li.nav-item {
                        display: flex;
                        padding-right: 3px;
                        padding-top: 0;
                        position: relative;
                        left: -3rem;

                        a.nav-link {
                            padding-left: .5rem;
                            padding-right: .5rem;
                            font-size: 80%;
                        }
                    }

                    div.buttons {
                        display: flex;
                        width: 100%;

                        li.nav-item {
                            padding-right: 5px;
                            margin-bottom: .1rem;

                            a.nav-link#signup,
                            a.nav-link#login {
                                font-size: 70%;
                                border-radius: 28px;
                                padding: .4rem .7rem;
                            }
                        }
                    }

                    div.navbar-collapse.collapse.show {
                        display: flex;
                        transform: translate(0, 20%);
                        transition: transform .2s linear;
                    }

                    div.navbar-collapse.collapsing {
                        height: 0;
                    }

                }
            }

            div.nav-left {
                width: 240px;

                div.empty-content {
                    width: 85%;
                    height: 1.6rem;
                    position: relative;
                    left: -20px
                }

                h4.UFOGame {
                    font-weight: 600;
                    width: auto;
                    margin-bottom: 0;
                    font-size: 95%;

                    span {}
                }

                img.logo {
                    margin-right: 5px;
                    width: 45px;
                    height: 40px;
                }
            }
        }
    }


}

@media (min-width:768px) {
    div.hamburger-menu {
        display: none;
    }
}


@media (max-width:550px) {
    div.container-fluid {
        nav.navbar {
            position: relative;

            div.hamburger-menu {

                position: absolute;
                right: 1rem;
                top: 0;

                button.navbar-toggler {

                    &:focus {
                        border: none;
                        outline: 0;
                    }

                    span.navbar-toggler-icon {
                        display: flex;
                        flex-direction: column;
                        width: 2em;
                        height: 2em;
                        padding-bottom: 0;
                        padding-left: 0;
                        justify-content: center;

                    }

                    .menu {
                        border-radius: 4px;
                        padding: 3px;
                        transition: transform .3s;

                        &-line {
                            width: 100%;
                            height: 3px;
                            margin-bottom: 5px;
                            background-color: #fff;
                            transition: all .3s .3s;
                            transform-origin: left;
                        }
                    }

                }

            }

            div.nav-right {
                width: 40%;

                ul.navbar-nav {
                    padding-right: 0;

                    li.nav-item {
                        display: flex;
                        padding-right: 3px;
                        padding-top: 0;
                        position: relative;
                        left: -3rem;

                        a.nav-link {
                            padding-left: .5rem;
                            padding-right: .5rem;
                            font-size: 80%;
                        }
                    }

                    div.buttons {
                        display: flex;
                        width: 100%;

                        li.nav-item {
                            padding-right: 5px;
                            margin-bottom: .1rem;

                            a.nav-link#signup,
                            a.nav-link#login {
                                font-size: 65%;
                                border-radius: 28px;
                                padding: .3rem .7rem;
                            }
                        }
                    }

                    div.navbar-collapse.collapse.show {
                        display: flex;
                        transform: translate(0, 20%);
                        transition: transform .2s linear;
                    }

                    div.navbar-collapse.collapsing {
                        height: 0;
                    }

                }
            }

            div.nav-left {

                width: 190px;

                div.empty-content {
                    width: 85%;
                    height: 1.6rem;
                    position: relative;
                    left: -25px
                }

                h4.UFOGame {
                    font-weight: 600;
                    width: auto;
                    margin-bottom: 0;
                    font-size: 91%;

                    span {}
                }

                img.logo {

                    margin-right: 5px;
                    width: 40px;
                    height: 100%;
                }
            }
        }
    }

}