@import './../base';


@media(max-width:1200px) {
    div.sidebar-menu {
        width: 16%;

        ul.list-menu {
            height: 80%;
            width: 100%;

            li.list-item {
                a.nav-link {
                    line-height: 30px;
                    font-size: 93%;
                }
            }
        }

    }
}

@media(max-width:991px) {
    div.sidebar-menu {
        width: 20%;

        ul.list-menu {
            li.list-item {
                a.nav-link {
                    line-height: 28px;
                    font-size: 88%;
                }
            }
        }

    }
}

@media(max-width:891px) {
    div.sidebar-menu {
        ul.list-menu {
            li.list-item {
                a.nav-link {
                    line-height: 28px;
                    font-size: 85%;
                }
            }
        }

    }
}
@media(max-width:767px){
    div.sidebar-menu {
        width: 20%;
        ul.list-menu {
            li.list-item {
                a.nav-link {
                    line-height: 27px;
                    font-size: 83%;
                    padding: .5rem .8rem;
                }
            }
        }
    }
}

@media(max-width:690px){
    div.sidebar-menu {
        ul.list-menu {
            li.list-item {
                a.nav-link {
                    line-height: 26px;
                    font-size: 80%;
                    padding: .4rem .8rem;
                }
            }
        }

    }
}

@media(max-width:575px){
    div.sidebar-menu {
        display: none;
        width: 0;
    }
}
