@import './../base';


@media(max-width:768px) {
    div.tabs {
        margin: 1.5rem;
        margin-bottom: .4rem;

        a.tab {
            width: 95%;
            height: 1.8rem;
            padding: .4rem;
            margin-right: .2rem;
            font-size: 90%;
        }

        a.tab.selected {}
    }
}
@media(max-width:575px) {
    div.tabs {
        margin: 1rem;
        margin-bottom: .2rem;

        a.tab {
            width: 100%;
            height: 1.75rem;
            padding: .4rem;
            margin-right: .2rem;
            font-size: 85%;
        }

        a.tab.selected {}
    }
}