@import './../base';

@media(max-width:768px) {
    div.container-fluid.Shop {
        width: 80%;

        div.card#content {
            div.all-view-component {
                div.title {
                    padding: 1rem;
                    margin-left: 1.5rem;
                    width: 50%;

                    h2.h1 {
                        font-size: 2.8rem;
                    }
                }

                div.all-products {
                    width: 100%;
                    height: 100%;
                    grid-template-columns: 30% 30% 30%;

                    div.product {
                        width: 95%;
                        height: 95%;
                    }
                }
            }
        }
    }
}
@media(max-width:575px) {
    div.container-fluid.Shop {
        width: 100%;
        height: 100vh;

        div.card#content {
            div.all-view-component {
                div.title {
                    padding: 1rem;
                    margin-left: 0;
                    width: 50%;

                    h2.h1 {
                        font-size: 2.3rem;
                    }
                }

                div.all-products {
                    width: 100%;
                    height: 100%;
                    grid-template-columns: 45% 45% ;
                    grid-gap: .5rem;

                    div.product {}
                }
            }
        }
    }
}


