@import './../base';

@media(max-width:767px) {
    div.modal-content {
        margin-top: 11.2%;

        div.modal-body {
            width: 100%;

            div.modal-title {
                h2 {
                    font-size: 1.7rem;

                    span {}
                }

                p.text-white {
                    margin-top: .3rem;
                    font-size: 75%;

                    a {
                        font-size: 70%;
                    }
                }
            }

            form.form-login {
                width: 100%;

                div.form-fields {
                    margin-top: .5rem;
                    width: 80%;

                    label {
                        font-size: 75%;
                        width: 70%;
                    }

                    div.input-group {
                        span {
                            position: absolute;
                            right: 10px;
                            top: 5px;
                        }
                    }

                    input {
                        font-size: 85%;
                    }

                    small {
                        a {}
                    }

                    div.form-validate {
                        font-size: 85%;
                    }

                }


                a.forgot {
                    font-size: 80%;
                    width: 75%;
                }

                div.form-button {
                    button {
                        font-size: 90%;
                    }
                }
            }
        }
    }
}

@media(max-width:455px) {
    div.modal-content {
        margin-top: 13%;

        div.modal-body {
            width: 100%;

            div.modal-title {
                h2 {
                    font-size: 1.4rem;

                    span {}
                }

                p.text-white {
                    margin-top: .2rem;
                    font-size: 70%;

                    a {
                        font-size: 70%;
                    }
                }
            }

            form.form-login {
                width: 100%;

                div.form-fields {
                    margin-top: .5rem;
                    width: 80%;

                    label {
                        font-size: 75%;
                        width: 70%;
                    }

                    div.input-group {
                        span {
                            position: absolute;
                            right: 10px;
                            top: 5px;
                        }
                    }

                    input {
                        font-size: 85%;
                    }

                    small {
                        a {}
                    }

                    div.form-validate {
                        font-size: 80%;
                        margin-bottom: .25rem;
                    }

                }


                a.forgot {
                    font-size: 72%;
                    width: 83%;
                }

                div.form-button{
                    button {
                        font-size: 88%;
                    }
                }
            }
        }
    }
}