$color-orange-1:rgb(255,147,0);
$color-background-1: rgb(28,28,34);
$color-white:#fff;
$color-gray-1:rgb(54,54,59);
$color-gray-2:rgb(149,154,162);
$color-blue-1:rgb(0, 132, 255);


body{
    font-size: 100%;
    font-family: sans-serif;
    background-color: $color-background-1;
}

