$color-orange-1:rgb(255, 147, 0);
$color-background-1: rgb(28, 28, 34);
$color-white:#fff;
$color-gray-1:rgb(54, 54, 59);
$color-gray-2:rgb(149, 154, 162);
$color-gray-3:rgb(176, 176, 178);
$color-blue-1:rgb(0, 117, 255);
$color-danger : #dc3545;
$color-pink-1 :rgb(231, 55, 90);
$color-pink-2: rgb(197,132,129);
$color-pink-3: rgb(206, 123, 119);
$color-pink-2:rgb(69, 9, 27);
$color-red-1:rgb(220, 53, 69);
$color-yellow :#ffc107;
$color-green :#28a745;
$color-gold :rgb(207, 179, 113);

body {
    font-size: 100%;
    font-family: sans-serif;
    background-color: $color-background-1;
    // height: 100%;
}