$color-orange-1:#ff9300;
$color-orange-2:#FC8928;
$color-background-1: rgb(28, 28, 34);
$color-white:#fff;
$color-gray-1:#36363b;
$color-gray-2:#959aa2;
$color-gray-3:rgb(176, 176, 178);
$color-blue-1:rgb(0, 117, 255);
$color-danger : #dc3545;
$color-pink-1 :rgb(231, 55, 90);
$color-pink-2: rgb(197, 132, 129);
$color-pink-3: rgb(206, 123, 119);
$color-pink-4:rgb(69, 9, 27);
$color-pink-5:#F03C8D;
$color-red-1:rgb(220, 53, 69);
$color-yellow :#ffc107;
$color-green:#28a745;
$color-green-2:#00bd56;
$color-green-3:#32ff6a;
$color-gold :rgb(207, 179, 113);
$color-gold-2:#feb72b;
$color-light:#ffffff;
$color-blue:#0075ff;
$color-blue-2:rgb(13, 129, 223);
$color-dark:#000000;

body {
    font-size: 100%;
    font-family: sans-serif;
    background-color: $color-background-1;
    // height: 100%;
}