@import './base';


div.container-fluid.page-body-wrapper {
    min-height: calc(100vh - 70px);
    width: calc(100% - 20%);
    transition: width .65s ease, margin .65s ease, position .65s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    position: absolute;
    right: 0;
    height: 100%;

    div.all-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        div.title-page {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 1.2rem;
            // margin-left: 1.8rem;
            width: 92%;

            h2.h1 {
                color: rgba($color: $color-gray-1, $alpha: .7);
                text-shadow: -3px -1px 0 rgba($color: $color-orange-1, $alpha: .2);
                font-weight: bold;
                text-align: left;
                font-size: 3rem;
            }
        }


        form.add-news-form {
            width: 90%;
            height: max-content;
            border: 1px solid rgba($color: $color-gray-1, $alpha: 1.0);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2rem 0;

            div.form-group {
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 2rem;

                label.form-label {
                    width: 100%;
                    font-size: 1rem;
                    font-weight: 500;
                    color: rgba($color: #ffffff, $alpha: .75);
                }

                input.form-input {
                    font-size: 95%;
                    background-color: rgba($color: $color-white, $alpha: .8);


                    &:focus {
                        background-color: rgba($color: $color-white, $alpha: .9);
                        box-shadow: 0 0 1px .2rem rgba($color: $color-white, $alpha: .2);
                        border: none;
                    }
                }

                input.form-control-file {
                    color: rgba($color: $color-gray-1, $alpha: .8);
                    // background-color: rgba($color: $color-white, $alpha: .3);

                    font-size: 88%;
                    padding: .5rem;
                    border-radius: 3px;


                }

                textarea.form-input {
                    font-size: 95%;
                    background-color: rgba($color: $color-white, $alpha: .8);

                    &:focus {
                        background-color: rgba($color: $color-white, $alpha: .9);
                        box-shadow: 0 0 1px .2rem rgba($color: $color-white, $alpha: .2);
                        border: none;
                    }
                }

                small.description-file.form-text.text-muted {
                    margin-top: 1rem;
                }

                span.form-validate {
                    font-size: 80%;
                    color: #ffffff;
                    background-color: rgba(red, $alpha: .7);
                    padding: .5rem;
                    border: 1px solid rgba(red, $alpha: .9);
                    border-radius: 3px;
                    margin-top: .2rem;
                    width: 100%;
                }
            }

            button.button-add-news {

                background-color: $color-orange-1;
                border-color: $color-orange-1;
                border-radius: 28px;
                outline: none;
                font-size: 95%;
                color: $color-white;
                width: 15%;

                &:focus {
                    box-shadow: 0 0 1px .2rem rgba($color: $color-orange-1, $alpha: .3);
                }
            }
        }
    }

}