@import './base';

div.sidebar.sidebar-offcanvas.navbar {
    min-height: calc(100vh);
    height: 100% !important;
    // position: fixed;
    transition: transform .35s linear;
    background-color: rgba($color: $color-gray-1, $alpha: .4);
    //   margin-right: auto;
}

div.sidebar.sidebar-offcanvas.navbar.collapse.show {
    transform: translate(0, 0);

    width: 20%;
    padding: 0;
    height: 100%;
    z-index: 11;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    div.sidebar-brand-wrapper {
        width: 100%;
        height: 70px;
        padding: 1rem;
        display: flex;
        background-color: rgba($color: $color-background-1, $alpha: 1.0);

        a.logo-link {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &:focus {
                outline: none;
            }

            img.logo {
                width: 45px;
                height: 45px;
            }
        }

        a.title-link {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            text-decoration: none;
            margin-left: .5rem;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            div.empty-content {
                display: flex;
                width: 100px;
                color: $color-gray-1;
                height: 2rem;
                background-color: rgba($color: $color-gray-1, $alpha: 1.0);
                position: relative;
                left: -25px
            }

            h4.UFOGame {
                color: $color-orange-1;
                font-weight: 600;
                z-index: 10;
                width: auto;
                margin-bottom: 0;

                span {
                    color: $color-white;
                }
            }
        }
    }

    ul.nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        flex-wrap: nowrap;
        // margin-bottom: 60px;
        // padding-top: 70px;
        width: 100%;
        // background-color: rgba($color: $color-gray-1, $alpha: .4);
        position: relative;
        min-height: 100%;

        li.nav-item.nav-category {
            display: flex;
            align-items: center;
            justify-content: center;

            span.nav-link {
                font-weight: bold;
                font-size: 120%;
                color: rgba($color: #fff, $alpha: .75);
            }
        }

        li.nav-item.menu-items {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-right: 0;

            &:active>div.nav-link>svg.MuiSvgIcon-root {
                transition: .3s transform ease-in-out;
                transform: rotate(-180deg);
            }

            &:hover>div.nav-link>span.menu-title {
                color: rgba($color: #fff, $alpha: .75);
            }
        

            div.nav-link {
                width: 100%;
                font-size: 100%;
                color: rgba($color: $color-gray-2, $alpha: 1.0);
                display: flex;
                align-items: center;
                text-decoration: none;
                padding: 0 1rem;


                &:hover {
                    background-color: rgba($color: $color-background-1, $alpha: 1.0);
                    border-bottom-right-radius: 30px;
                    border-top-right-radius: 30px;
                }

                &:focus {
                    outline: none;
                }

                span.menu-icon {
                    margin-right: .5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        font-size: 22px;
                        border: 1px solid rgba($color: $color-background-1, $alpha: 1.0);
                        border-radius: 50%;
                        background-color: rgba($color: $color-background-1, $alpha: 1.0);
                        padding: .6rem;
                        color: rgba($color: $color-orange-2, $alpha: 1.0);
                    }

                    svg.settings {
                        fill: $color-orange-2;
                        padding: .6rem;
                    }
                }

                span.menu-title {
                    font-size: 95%;
                }

                svg.MuiSvgIcon-root {
                    font-size: 16px;
                    margin-left: auto;
                    margin-right: .5rem;

                }
            }
        }

            div.sub-collapse {
                transition: transform .3 linear;

                // height: 100% !important;
                // min-height: calc(20vh - 60px);
                ul.nav.sub-menu {
                    background-color: transparent;
                    margin-bottom: 0;

                    a.nav-link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 90%;
                        color: rgba($color: $color-orange-1, $alpha: 1.0);
                        padding: 0;
                        width: 80%;

                        &:focus {
                            outline: none;
                        }

                        li.nav-item {
                            margin-top: 1rem;
                            margin-bottom: 1rem;
                            text-align: left;
                            width: 50%;
                        }
                    }
                }
            }

            div.sub-collapse.collapse {
                width: 95%;
                // height: 0;
                // transform: translate(0, 100%);

                ul.nav.sub-menu {
                    background-color: transparent;
                    margin-bottom: 0;


                    a.nav-link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 90%;
                        color: rgba($color: $color-orange-1, $alpha: 1.0);
                        padding: 0;
                        width: 80%;


                        &:focus {
                            outline: none;
                        }

                        li.nav-item {
                            margin-top: 1rem;
                            margin-bottom: 1rem;
                            text-align: left;
                            width: 50%;
                        }
                    }
                }
            }

            div.sub-collapse.collapsing {
                width: 95%;
                // transform: translate(0, 100%);
                // height: max-content !important;

                ul.nav.sub-menu {
                    background-color: transparent;

                    a.nav-link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 90%;
                        color: rgba($color: $color-orange-1, $alpha: 1.0);
                        padding: 0;
                        width: 80%;


                        &:focus {
                            outline: none;
                        }


                        &:hover {
                            color: rgba($color: #fff, $alpha: .75);
                        }

                        li.nav-item {
                            margin-top: 1rem;
                            margin-bottom: 1rem;
                        }
                    }
                }
            }

            div.sub-collapse.collapse.show {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                width: 100%;
                // min-height: calc(20vh - 60px);
                // transform: translate(0, -50%);
                // height: 100% ;
                // position: static;

                ul.nav.sub-menu {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    overflow: hidden;
                    padding-top: 0;
                    background-color: transparent;


                    a.nav-link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: rgba($color: $color-orange-1, $alpha: 1.0);
                        font-size: 90%;
                        padding: 0;
                        width: 80%;

                        &:focus {
                            outline: none;
                        }

                        &:hover {
                            color: rgba($color: #fff, $alpha: .75);
                        }

                        li.nav-item {
                            margin-top: 1rem;
                            margin-bottom: 1rem;
                            margin: 1rem 0;
                        }
                    }
                }
            }
    }
}

div.sidebar.sidebar-offcanvas.navbar.collapsing {
    transform: translate(-100%, 0);

    width: 20%;
    padding: 0;
    height: 100%;
    z-index: 11;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    // min-height: 100%;

    div.sidebar-brand-wrapper {
        width: 100%;
        height: 70px;
        padding: 1rem;
        display: flex;
        background-color: rgba($color: $color-background-1, $alpha: 1.0);

        a.logo-link {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;


            &:focus {
                outline: none;
            }

            img.logo {
                width: 45px;
                height: 45px;
            }
        }

        a.title-link {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            text-decoration: none;
            margin-left: .5rem;

            &:focus {
                outline: none;
            }

            div.empty-content {
                display: flex;
                width: 100px;
                color: $color-gray-1;
                height: 2rem;
                background-color: rgba($color: $color-gray-1, $alpha: 1.0);
                position: relative;
                left: -25px
            }

            h4.UFOGame {
                color: $color-orange-1;
                font-weight: 600;
                z-index: 10;
                width: auto;
                margin-bottom: 0;

                span {
                    color: $color-white;
                }
            }
        }
    }

    ul.nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        flex-wrap: nowrap;
        // margin-bottom: 60px;
        // padding-top: 70px;
        width: 100%;
        // background-color: rgba($color: $color-gray-1, $alpha: .4);
        position: relative;
        min-height: 100%;

        li.nav-item.nav-category {
            display: flex;
            align-items: center;
            justify-content: center;

            span.nav-link {
                font-weight: bold;
                font-size: 120%;
                color: rgba($color: #fff, $alpha: .75);

            }
        }

        li.nav-item.menu-items {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-right: 0;

            &:active>div.nav-link>svg.MuiSvgIcon-root {
                transition: .3s transform ease-in-out;
                transform: rotate(-180deg);
            }

            div.nav-link {
                width: 100%;
                font-size: 100%;
                color: rgba($color: $color-gray-2, $alpha: 1.0);
                display: flex;
                align-items: center;
                text-decoration: none;
                padding: 0 1rem;


                &:hover {
                    background-color: rgba($color: $color-background-1, $alpha: 1.0);
                    border-bottom-right-radius: 30px;
                    border-top-right-radius: 30px;
                }

                &:focus {
                    outline: none;
                }

                span.menu-icon {
                    margin-right: .5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        font-size: 22px;
                        border: 1px solid rgba($color: $color-background-1, $alpha: 1.0);
                        border-radius: 50%;
                        background-color: rgba($color: $color-background-1, $alpha: 1.0);
                        padding: .6rem;
                        color: rgba($color: $color-orange-2, $alpha: 1.0);
                    }

                    svg.settings {
                        fill: $color-orange-2;
                        padding: .6rem;
                    }
                }

                span.menu-title {
                    font-size: 95%;
                }

                svg.MuiSvgIcon-root {
                    font-size: 16px;
                    margin-left: auto;
                    margin-right: .5rem;

                }
            }

        }

            div.sub-collapse.collapse {
                width: 95%;

                ul.nav.sub-menu {
                    background-color: transparent;
                    margin-bottom: 0;

                    a.nav-link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 90%;
                        color: rgba($color: $color-orange-1, $alpha: 1.0);
                        padding: 0;
                        width: 80%;

                        &:focus {
                            outline: none;
                        }

                        li.nav-item {
                            margin-top: 1rem;
                            margin-bottom: 1rem;
                            text-align: left;
                            width: 50%;
                        }
                    }
                }
            }

            div.sub-collapse.collapsing {
                width: 95%;
                height: max-content;


                ul.nav.sub-menu {
                    background-color: transparent;

                    a.nav-link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 90%;
                        color: rgba($color: $color-orange-1, $alpha: 1.0);
                        padding: 0;
                        width: 80%;

                        &:focus {
                            outline: none;
                        }

                        li.nav-item {
                            margin-top: 1rem;
                            margin-bottom: 1rem;
                            text-align: left;
                            width: 50%;
                        }
                    }
                }
            }

            div.sub-collapse.collapse.show {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                width: 100%;
                height: max-content;
                // position: static;

                ul.nav.sub-menu {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    overflow: hidden;
                    padding-top: 0;
                    background-color: transparent;

                    a.nav-link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 90%;
                        color: rgba($color: $color-orange-1, $alpha: 1.0);
                        padding: 0;
                        width: 80%;

                        &:focus {
                            outline: none;
                        }

                        li.nav-item {
                            margin-top: 1rem;
                            margin-bottom: 1rem;
                            text-align: left;
                            width: 50%;
                        }
                    }
                }
            }
        
    }
}

div.sidebar.sidebar-offcanvas.navbar.collapse {
    // height: 0;
    transform: translate(-100%, 0);

    width: 20%;
    padding: 0;
    height: 100%;
    z-index: 11;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    div.sidebar-brand-wrapper {
        width: 100%;
        height: 70px;
        padding: 1rem;
        display: flex;
        background-color: rgba($color: $color-background-1, $alpha: 1.0);

        a.logo-link {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;


            &:focus {
                outline: none;
            }

            img.logo {
                width: 45px;
                height: 45px;
            }
        }

        a.title-link {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            text-decoration: none;
            margin-left: .5rem;

            &:focus {
                outline: none;
            }

            div.empty-content {
                display: flex;
                width: 100px;
                color: $color-gray-1;
                height: 2rem;
                background-color: rgba($color: $color-gray-1, $alpha: 1.0);
                position: relative;
                left: -25px
            }

            h4.UFOGame {
                color: $color-orange-1;
                font-weight: 600;
                z-index: 10;
                width: auto;
                margin-bottom: 0;

                span {
                    color: $color-white;
                }
            }
        }
    }

    ul.nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        flex-wrap: nowrap;
        // margin-bottom: 60px;
        // padding-top: 70px;
        width: 100%;
        // background-color: rgba($color: $color-gray-1, $alpha: .4);
        position: relative;
        min-height: 100%;

        li.nav-item.nav-category {
            display: flex;
            align-items: center;
            justify-content: center;

            span.nav-link {
                font-weight: bold;
                font-size: 120%;
                color: rgba($color: #fff, $alpha: .75);

            }
        }

        li.nav-item.menu-items {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-right: 0;

            &:active>div.nav-link>svg.MuiSvgIcon-root {
                transition: .3s transform ease-in-out;
                transform: rotate(-180deg);
            }

            div.nav-link {
                width: 100%;
                font-size: 100%;
                color: rgba($color: $color-gray-2, $alpha: 1.0);
                display: flex;
                align-items: center;
                text-decoration: none;
                padding: 0 1rem;


                &:hover {
                    background-color: rgba($color: $color-background-1, $alpha: 1.0);
                    border-bottom-right-radius: 30px;
                    border-top-right-radius: 30px;
                }

                &:focus {
                    outline: none;
                }

                span.menu-icon {
                    margin-right: .5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        font-size: 22px;
                        border: 1px solid rgba($color: $color-background-1, $alpha: 1.0);
                        border-radius: 50%;
                        background-color: rgba($color: $color-background-1, $alpha: 1.0);
                        padding: .6rem;
                        color: rgba($color: $color-orange-2, $alpha: 1.0);
                    }

                    svg.settings {
                        fill: $color-orange-2;
                        padding: .6rem;
                    }
                }

                span.menu-title {
                    font-size: 95%;
                }

                svg.MuiSvgIcon-root {
                    font-size: 16px;
                    margin-left: auto;
                    margin-right: .5rem;

                }
            }
        }

            div.sub-collapse.collapse {
                width: 95%;
                height: 0;

                ul.nav.sub-menu {
                    background-color: transparent;
                    margin-bottom: 0;

                    a.nav-link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 90%;
                        color: rgba($color: $color-orange-1, $alpha: 1.0);
                        padding: 0;
                        width: 80%;

                        &:focus {
                            outline: none;
                        }

                        li.nav-item {
                            margin-top: 1rem;
                            margin-bottom: 1rem;
                            text-align: left;
                            width: 50%;
                        }
                    }
                }
            }

            div.sub-collapse.collapsing {
                width: 95%;
                height: max-content;

                ul.nav.sub-menu {
                    background-color: transparent;

                    a.nav-link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 90%;
                        color: rgba($color: $color-orange-1, $alpha: 1.0);
                        padding: 0;
                        width: 80%;

                        &:focus {
                            outline: none;
                        }

                        li.nav-item {
                            margin-top: 1rem;
                            margin-bottom: 1rem;
                            text-align: left;
                            width: 50%;
                        }
                    }
                }
            }

            div.sub-collapse.collapse.show {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                width: 100%;
                height: max-content;
                // position: static;

                ul.nav.sub-menu {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    overflow: hidden;
                    padding-top: 0;
                    background-color: transparent;

                    a.nav-link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 90%;
                        color: rgba($color: $color-orange-1, $alpha: 1.0);
                        padding: 0;
                        width: 80%;

                        &:focus {
                            outline: none;
                        }

                        li.nav-item {
                            margin-top: 1rem;
                            margin-bottom: 1rem;
                            text-align: left;
                            width: 50%;
                        }
                    }
                }
            }
        
    }

}