@import './base';

div.container-fluid.page-body-wrapper {
    min-height: calc(100vh - 70px);
    width: calc(100% - 20%);
    transition: width 0.65s ease, margin 0.65s ease, position 0.65s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    position: absolute;
    right: 0;
    height: max-content;

}