@import 'base';
// div.canvas-element{
    // display: flex;
    // justify-content: flex-start;
    canvas#mycanvasSidebar{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 0;
        height: max-content;
        width: max-content;
        // position: relative;
        // left: .5rem;
        // top: 2rem;
    }
// }
   