@import 'base';
div.canvas-element{
    display: flex;
    justify-content: flex-start;
    canvas#mycanvas{
        // width: 30%;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // flex-direction: column;
        padding-right: 0;
        position: relative;
        left: 0;
        // height: 250px;
        // width: 550px;
        position: relative;
        // left: .5rem;
        // top: 2rem;
        // overflow: scroll;

 
    }
    div.card-bodys {
        padding: 0;
        margin-top: 0;
        // position: absolute;
        // left: inherit;
        // height: 100%;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        // top: 5%;
        border: 0;

        div.card-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            width: max-content;
            // height: 80%;


            h1.Tournament {
                font-size: 2.8rem;
                color: $color-orange-1;
                font-weight: bold;
            }

            h1.title {
                color: $color-orange-1;
                font-weight: bold;
                font-size: 2.8rem;
                margin-top: .5rem;

                span.h1 {
                    color: $color-white;
                    font-weight: bold;
                    font-size: 2.8rem;
                }
            }

            h1.garanti {
                font-size: 3rem;
                color: $color-white;
                font-weight: bold;
            }
        }
    }
}

    

