@import 'base';

    canvas#mycanvas{
        // width: 30%;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // flex-direction: column;
        padding-right: 0;
        // position: relative;
        height: 80%;
        position: absolute;
        left: .5rem;
        top: 3rem;
        // overflow: scroll;
    }
    

