@import 'base';


div.container-fluid.Chat {

    background-image: url('./../images/soldier-background.png');
    background-repeat: no-repeat;
    background-size: 60% 100%;
    background-position: left;
    // -webkit-box-reflect: below 0 linear-gradient(to bottom, transparent 20%, #000f);
    width: 100%;

    div.card#content {
        background-color: rgba($color: #000000, $alpha: .4);
        display: flex;
        flex-direction: row;
        border-left: 1px solid $color-orange-1;
        border-top: 2px solid $color-orange-1;
        border-bottom: 0;
        border-right: 0;
        border-radius: 0;
        position: relative;
        left: 0;
        height: 140vh;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        min-height: 100%;


        div.elements {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            div.single-line {
                width: 100%;
                height: 20px;
                border: 1px solid rgba($color: $color-pink-3, $alpha: .7);
                border-left: none;
                border-right: none;
                border-top: none;
                position: relative;
                top: 30%;
                z-index: -1;
            }
        }
    }
}