@import 'base';


div.container-fluid.Console {

    background-image: url('./../images/background-console.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // background-position: 0 0, bottom right;
    -webkit-box-reflect: below 0 linear-gradient(to bottom, transparent 20%, #000f);
    width: 100%;

    div.card#content {
        background-color: rgba($color: #000000, $alpha: .4);
        display: flex;
        flex-direction: row;
        border-left: 1px solid $color-orange-1;
        border-top: 2px solid $color-orange-1;
        border-bottom: 0;
        border-right: 0;
        border-radius: 0;
        position: relative;
        left: 0;
        height: 100%;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        min-height: 100%;

        div.main-section {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 70%;

            i.image-icon.fas.fa-user-circle {
                font-size: 70px;
                // width: 45px;
                // height: 45px;
                color: rgba($color: #ffffff, $alpha: .6);
                margin-right: 1rem;
            }

            p.username {
                color: rgba($color: #ffffff, $alpha: .6);
                // font-size: 100%;
                margin-top: 1rem;
                font-weight: 600;

            }

            span.status-activation {
                color: rgba($color: #ffffff, $alpha: .6);
                // font-size: 100%;
                margin-top: 1rem;
                font-weight: 600;

            }

            div.inputs {
                display: flex;
                width: max-content;
                // height: 10%;
                margin-top: 2rem;
                align-items: center;
                justify-content: center;

                // div.form-group {
                //     display: flex;
                //     justify-content: center;
                //     align-items: center;
                //     width: max-content;
                //     // margin-top: 1rem;
                //     margin-left: 0;
                //     margin-right: 0;

                div.validation-box {
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    width: 100%;
                    // align-items: flex-end;

                    input {
                        border: 1px solid $color-orange-1;
                        border-radius: 9px;
                        background-color: #000;
                        color: $color-gray-2;
                        // font-size: 80%;
                        padding-left: .5rem;
                        width: 90%;

                        &:focus {
                            box-shadow: 0 0 0 0.1rem rgba($color: $color-orange-1, $alpha: .25);
                        }
                    }
                }


                // }

            }

            div.nav-tabs {
                margin-top: 2rem;
                width: 55%;
                display: flex;
                justify-content: center;
                border-bottom: 2px solid $color-gray-1;

                div.nav-list.nav.card-header-undefined {
                    div.nav-item {
                        a.nav-item.nav-link {
                            border: none;
                            color: rgba($color: #ffffff, $alpha: 1.0);
                            background-color: transparent;



                            &:focus {
                                outline: none;
                                border-bottom: 2px solid $color-orange-1;
                                background-color: transparent;

                            }

                        }
                    }
                }
            }
        }
    }
}