@import './base';

div.create-Tournament-section {
    height: 100px;
    display: flex;
    width: max-content;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    div.create-Tournament-button {
        width: 45px;
        height: 45px;
        background-color: rgba($color: $color-orange-2, $alpha: .7);
        border-radius: 50%;

        &:active {
            background-color: rgba($color: $color-orange-2, $alpha: .7);
            box-shadow: 0 0 2px 2px rgba($color: #ffffff, $alpha: .35);
        }

        i.fas.fa-plus {
            height: inherit;
            font-size: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgba($color: $color-background-1, $alpha: 1.0);
        }
    }

    span.create-Tournament-title {
        color: #ffffff;
        font-size: 90%;
        font-weight: 600;
        margin-top: 5px;
    }
}

div.modal-dialog.CreateTournament-modal {
    div.modal-content {
        background-color: rgba($color: $color-background-1, $alpha: .95);
        border-color: $color-orange-1;
        border-radius: 28px;
        margin-top: 14%;

        div.modal-body {
            background-color: transparent;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin-right: 0;
            width: 100%;
            padding: 0;

            form.CreateTournament-form {
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: space-between;
                align-items: flex-start;

                div.section-left {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 40%;
                    height: 100%;

                    div.form-fields {
                        padding: 0;
                        width: 90%;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: stretch;

                        label.form-label {
                            color: rgba($color: #ffffff, $alpha: .85);
                            font-size: 95%;
                            width: 100%;
                            justify-content: flex-start;
                        }

                        input.form-control {
                            background-color: rgba($color: #000000, $alpha: .35);
                            border: 1px solid rgba($color: $color-orange-1, $alpha: 1.0);
                            border-radius: 12px;
                            font-size: 95%;


                            &:focus {
                                box-shadow: 0 0 1px .2rem rgba($color: $color-orange-2, $alpha: .27);
                            }
                        }
                    }
                }

                div.section-right {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    width: 60%;
                    height: 475px;

                    div.section-right-1 {
                        div.form-fields {
                            padding: 0;
                            width: 90%;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            align-items: stretch;

                            label.form-label {
                                color: rgba($color: #ffffff, $alpha: .85);
                                font-size: 95%;
                                width: 100%;
                                justify-content: flex-start;
                            }

                            div.person-box {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                width: 240px;

                                div.circle {
                                    width: 40px;
                                    height: 40px;
                                    background-color: rgba($color: $color-background-1, $alpha: .7);
                                    border: 1px solid rgba($color: $color-gray-2, $alpha: 1.0);
                                    border-radius: 50%;
                                    margin: .1rem;
                                }

                                i.fas.fa-plus {
                                    color: rgba($color: #ffffff, $alpha: .85);
                                    font-size: 24px;

                                    // &:focus {
                                    //     box-shadow: 0 0 1px .2rem rgba($color: #ffffff, $alpha: .27);
                                    // }
                                }
                            }

                            input.form-control {
                                background-color: rgba($color: #000000, $alpha: .35);
                                border: 1px solid rgba($color: $color-orange-1, $alpha: 1.0);
                                border-radius: 12px;
                                font-size: 95%;


                                &:focus {
                                    box-shadow: 0 0 1px .2rem rgba($color: $color-orange-2, $alpha: .27);
                                }
                            }
                        }
                    }

                    div.section-right-2.form-button {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        width: 100%;

                        button[type="submit"] {
                            background-color: $color-orange-1;
                            border-color: $color-orange-1;
                            border-radius: 28px;
                            outline: none;
                            font-size: 90%;
                            color: $color-white;
                            padding: .7rem;

                            &:focus {
                                box-shadow: 0 0 1px .2rem rgba($color: $color-orange-1, $alpha: .3);
                            }
                        }
                    }
                }
            }
        }
    }
}