@import 'base';

div.modal-content {
    background-color: transparent;

    div.modal-dialogs {
        margin-top: 0;

        // margin-right: 50px;
        div.form-register {
            background-color: rgba($color: $color-gray-1, $alpha: .4);
            border-radius: 28px;

            div.modal-body {
                padding: 0;

                div.card {
                    background-color: transparent;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 1px 2px rgba(0, 0, 0, .3);
                    border-color: $color-orange-1;
                    border-radius: 28px;
                    padding: 0;
                    height: 100%;
                    margin-right: 0;
                    width: 100%;


                    div.card-body {
                        display: flex;
                        flex-direction: column;
                        height: 100%;

                        // width: 100%;
                        // justify-content: center;
                        // align-items: center;
                        div.card-title {
                            h2 {
                                color: $color-white;
                                font-weight: bold;

                                span {
                                    font-weight: bold;
                                    color: $color-orange-1;
                                }
                            }

                            p.text-white {
                                margin-top: .5rem;
                                font-size: 90%;

                                a {
                                    font-size: 80%;
                                    color: red;
                                    font-weight: bold;

                                }
                            }
                        }

                        form.form-login {
                            padding-top: 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            div.form-fields {
                                padding: 0;

                                margin-top: .5rem;

                                // margin-right: 2rem;
                                label {
                                    font-size: 80%;
                                    color: red;
                                    font-weight: bold;

                                }

                                div.input-group {
                                    display: flex;
                                    align-items: center;

                                    span {
                                        position: absolute;
                                        right: 10px;
                                        z-index: 10;
                                        top: 5px;
                                    }
                                }

                                input {
                                    direction: ltr;
                                    border-color: $color-gray-1;
                                    background-color: rgba($color: $color-white, $alpha: .1);
                                    // padding-left: calc(1.5em + .70rem);
                                    border-radius: 7px;
                                }

                                small {
                                    a {
                                        color: $color-orange-1;
                                        font-weight: bold;
                                    }
                                }

                            }

                            div.form-group {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;

                                button {
                                    background-color: $color-orange-1;
                                    border-color: $color-orange-1;
                                    border-radius: 28px;
                                    outline: none;
                                    font-size: 95%;
                                    color: $color-white;

                                    &:active {
                                        box-shadow: 1px 1px 0 0 $color-orange-1;

                                    }
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}