@import 'base';


div.container-fluid.leader-boards {

    background-image: url('./../images/Soldier.png'), url('./../images/background-leader-boards.png');
    background-repeat: no-repeat;
    background-size: 30% 330px, 100% 100%;
    background-position: right 100%, -10px -15px;
    // -webkit-box-reflect: below 0 linear-gradient(to bottom, transparent 20%, #000f);
    width: 100%;

    div.card#content {
        background-color: rgba($color: #000000, $alpha: .4);
        display: flex;
        // flex-direction: row;
        // justify-content: flex-end;
        border-left: 1px solid $color-orange-1;
        border-top: 2px solid $color-orange-1;
        border-bottom: 0;
        border-right: 0;
        border-radius: 0;
        position: relative;
        left: 0;
        height: 85vh;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        min-height: 100%;

        div.all-view-component {
            width: 90%;
            height: 100%;

            div.title {
                display: flex;
                flex-direction: column;
                // justify-content: flex-start;
                align-items: flex-start;
                padding: 1.2rem;
                margin-left: 1.8rem;
                width: 80%;

                h1.h1 {
                    color: rgba($color: $color-gray-1, $alpha: .7);
                    text-shadow: -3px -1px 0 rgba($color: $color-orange-1, $alpha: .2);
                    font-weight: bold;
                    text-align: left;
                }

                p.text-muted {
                    font-weight: bold;
                    font-size: 75%;
                    margin-bottom: .3rem;
                    text-align: left;
                }

            }

            div.buttons-top {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 80%;
                height: 15%;
                margin-left: 3rem;


                div.all-button {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding-left: .8rem;
                    border: 1px solid rgba($color: $color-pink-3, $alpha: .7);
                    background-color: rgba($color: #000000, $alpha: .15);
                    box-shadow: 0 0 0 0.05rem rgba($color: $color-pink-3, $alpha: .35);
                    border-radius: 7px;
                    color: #ffffff;
                    width: 20%;
                    height: 30px;
                    font-size: 90%;
                    margin-left: .4rem;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:hover,
                    &:focus {
                        background-color: rgba($color: $color-pink-2, $alpha: .7);
                    }
                }

            }

            div.all-view-table {
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;


                div.title-table {
                    border: 1px solid rgba($color: $color-pink-3, $alpha: .7);
                    box-shadow: 0 0 0 0.05rem rgba($color: $color-pink-3, $alpha: .35);
                    background-color: rgba($color: #000000, $alpha: .15);

                    width: 90%;
                    height: max-content;
                    padding: .2rem 0;
                    margin: .5rem;
                    display: flex;
                    // align-items: flex-start;


                    div.section-1.user-info {
                        padding: 0 1rem;
                        display: flex;
                        height: 100%;
                        align-items: center;
                        justify-content: flex-start;

                        i.image-icon.fas.fa-user-circle {
                            font-size: 45px;
                            width: 45px;
                            height: 45px;
                            color: rgba($color: #ffffff, $alpha: .7);
                            margin-right: 1rem;
                        }

                        p.user-name {
                            display: flex;
                            color: rgba($color: #ffffff, $alpha: .7);
                            font-size: 90%;
                            align-items: center;
                            height: 100%;
                            font-weight: 600;
                        }
                    }

                    div.section-2 {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        padding: 0;

                        span.section-2-1,
                        span.section-2-2,
                        span.section-2-3 {
                            color: rgba($color: #ffffff, $alpha: .7);
                            display: flex;
                        }

                    }

                    div.section-3 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0;
                        margin-left: 1rem;

                        span.section-3-1 {
                            color: rgba($color: #ffffff, $alpha: .7);
                        }
                    }
                }

                div.table-content {
                    border: 1px solid rgba($color: $color-pink-3, $alpha: .7);
                    box-shadow: 0 0 0 0.05rem rgba($color: $color-pink-3, $alpha: .35);
                    background-color: rgba($color: #000000, $alpha: .25);
                    width: 90%;
                    height: max-content;
                    margin: .5rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    div.scroll-bar {
                        border: 1px solid rgba($color: $color-pink-3, $alpha: .7);
                        width: 2%;
                        height: 100%;
                    }

                    div.table-responsive {
                        width: 100%;

                        table.all-table.table.table-striped {
                            width: 100%;
                            margin-bottom: 0;

                            thead.headers-table {
                                width: 100%;

                                tr.header-table.line-1 {
                                    display: flex;
                                    justify-content: space-between;
                                    width: 100%;
                                    border-bottom: 1px solid rgba($color: $color-gray-2, $alpha: 1.0);



                                    div.header-table-part-1 {
                                        display: flex;
                                        justify-content: space-between;
                                        width: 65%;
                                        padding: 0;

                                        th.header-table-title {
                                            border: 0;
                                            font-size: 80%;
                                            font-weight: 600;
                                            color: rgba($color: #ffffff, $alpha: .7);
                                            width: 33%;
                                            display: flex;
                                            align-self: center;
                                            justify-content: center;

                                        }
                                    }

                                    div.header-table-part-2 {
                                        display: flex;
                                        justify-content: flex-end;
                                        padding: 0;
                                        width: 35%;

                                        th.header-table-title {
                                            border: 0;
                                            font-size: 80%;
                                            font-weight: 600;
                                            color: rgba($color: #ffffff, $alpha: .7);
                                            width: 100%;
                                            display: flex;
                                            align-self: center;
                                            justify-content: center;

                                        }
                                    }

                                }

                                tr.header-table.line-2 {
                                    display: flex;
                                    justify-content: space-between;
                                    width: 100%;


                                    div.header-table-part-all {
                                        display: flex;
                                        justify-content: space-between;
                                        width: 100%;
                                        padding: 0;

                                        th.header-table-title {
                                            border: 0;
                                            font-size: 80%;
                                            font-weight: 600;
                                            color: rgba($color: #ffffff, $alpha: .7);
                                            display: flex;
                                            align-self: center;
                                            justify-content: center;

                                        }
                                    }

                                }
                            }

                            tbody.bodys-table {
                                width: 100%;
                                overflow: scroll;

                                tr.body-table {
                                    width: 100%;
                                    display: flex;
                                    align-self: center;
                                    justify-content: flex-start;
                                    border: 1px solid rgba($color: $color-gray-2, $alpha: .15);

                                    td.body-table-content {
                                        color: rgba($color: #ffffff, $alpha: .7);
                                        font-size: 90%;
                                        font-weight: 600;
                                        width: 100%;


                                        i.fas.fa-medal {
                                            font-size: 28px;
                                            color: $color-gold-2;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }


    }
}