@import 'base';


div.container-fluid.leader-boards {

    background-image: url('./../images/Soldier.png'), url('./../images/background-leader-boards.png');
    background-repeat: no-repeat;
    background-size: 30% 330px, 100% 100%;
    background-position: right 100%, 0 0;
    // -webkit-box-reflect: below 0 linear-gradient(to bottom, transparent 20%, #000f);
    width: 100%;

    div.card#content {
        background-color: rgba($color: #000000, $alpha: .4);
        display: flex;
        // flex-direction: row;
        // justify-content: flex-end;
        border-left: 1px solid $color-orange-1;
        border-top: 2px solid $color-orange-1;
        border-bottom: 0;
        border-right: 0;
        border-radius: 0;
        position: relative;
        left: 0;
        height: max-content;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        min-height: 100%;

        div.all-view-component {
            width: 90%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: space-around;

            div.title {
                display: flex;
                flex-direction: column;
                // justify-content: flex-start;
                align-items: flex-start;
                padding: 1.2rem;
                margin-left: 1.8rem;
                width: 80%;

                h1.h1 {
                    color: rgba($color: $color-gray-1, $alpha: .7);
                    // text-shadow: -3px -1px 0 rgba($color: $color-orange-1, $alpha: .2);
                    font-weight: bold;
                    text-align: left;
                }

                p.text-muted {
                    font-weight: bold;
                    font-size: 75%;
                    margin-bottom: .3rem;
                    text-align: left;
                }
            }

            div.buttons-top {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 80%;
                height: 15%;
                margin-left: 3rem;

                div.all-button {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding-left: .8rem;
                    border: 1px solid rgba($color: $color-pink-3, $alpha: .7);
                    background-color: rgba($color: #000000, $alpha: .15);
                    box-shadow: 0 0 0 0.05rem rgba($color: $color-pink-3, $alpha: .35);
                    border-radius: 7px;
                    color: #ffffff;
                    width: 20%;
                    height: 30px;
                    font-size: 90%;
                    margin-left: .4rem;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:hover,
                    &:focus {
                        background-color: rgba($color: $color-pink-2, $alpha: .7);
                    }
                }
            }

            div.all-view-table {
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                div.title-table {
                    border: 1px solid rgba($color: $color-pink-3, $alpha: .7);
                    box-shadow: 0 0 0 0.05rem rgba($color: $color-pink-3, $alpha: .35);
                    background-color: rgba($color: #000000, $alpha: .15);
                    width: 90%;
                    height: max-content;
                    padding: .2rem 0;
                    margin: .5rem;
                    display: flex;
                    // align-items: flex-start;

                    div.section-1.user-info {
                        padding: 0 1rem;
                        display: flex;
                        height: 100%;
                        align-items: center;
                        justify-content: flex-start;

                        i.image-icon.fas.fa-user-circle {
                            font-size: 45px;
                            width: 45px;
                            height: 45px;
                            color: rgba($color: #ffffff, $alpha: .7);
                            margin: .2rem 1rem .2rem 0;
                        }

                        p.user-name {
                            display: flex;
                            color: rgba($color: #ffffff, $alpha: .7);
                            font-size: 90%;
                            align-items: center;
                            height: 100%;
                            font-weight: 600;
                        }
                    }

                    div.section-2 {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        padding: 0;

                        span.section-2-1,
                        span.section-2-2,
                        span.section-2-3 {
                            color: rgba($color: #ffffff, $alpha: .7);
                            display: flex;
                        }
                    }

                    div.section-3 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0;
                        margin-left: 1rem;

                        span.section-3-1 {
                            color: rgba($color: #ffffff, $alpha: .7);
                        }
                    }
                }

                div.scroll-table {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 98%;

                    div.scroll-bar {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid rgba($color: $color-pink-3, $alpha: .7);
                        width: 1%;
                        margin: .5rem;
                        margin-right: .1rem;
                        height: 98%;
                    }

                    div.table-content {
                        border: 1px solid rgba($color: $color-pink-3, $alpha: .7);
                        box-shadow: 0 0 0 0.05rem rgba($color: $color-pink-3, $alpha: .35);
                        background-color: rgba($color: #000000, $alpha: .15);
                        width: 90%;
                        height: max-content;
                        margin: .5rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;


                        div.table-responsive {
                            width: 100%;
                            // height: 250px;
                            // overflow-y: scroll;

                            table.all-table.table.table-striped {
                                width: 100%;
                                height: 70%;
                                margin-bottom: 0;


                                thead.headers-table {
                                    width: 100%;

                                    tr.header-table.line-1 {
                                        display: flex;
                                        justify-content: space-between;
                                        width: 100%;
                                        border-bottom: 1px solid rgba($color: $color-gray-1, $alpha: .7);

                                        div.header-table-part-1 {
                                            display: flex;
                                            justify-content: space-between;
                                            width: 45%;
                                            padding: 0;

                                            th.header-table-title {
                                                border: 0;
                                                font-size: 80%;
                                                font-weight: 600;
                                                color: rgba($color: #ffffff, $alpha: 1.0);
                                                width: max-content;
                                                display: flex;
                                                align-self: center;
                                                justify-content: center;
                                                position: sticky;
                                                top: 0;
                                            }
                                        }

                                        div.header-table-part-2 {
                                            display: flex;
                                            justify-content: flex-end;
                                            padding: 0;
                                            // width: 35%;

                                            th.header-table-title {
                                                border: 0;
                                                font-size: 80%;
                                                font-weight: 600;
                                                color: rgba($color: $color-gray-2, $alpha: .7);
                                                width: 100%;
                                                display: flex;
                                                align-self: center;
                                                justify-content: center;
                                                position: sticky;
                                                top: 0;
                                            }
                                        }
                                    }

                                    tr.header-table.line-2 {
                                        display: flex;
                                        justify-content: space-between;
                                        width: 100%;
                                        border-bottom: 1px solid rgba($color: #000000, $alpha: 1.0);
                                        box-shadow: 0 0 0 0.05rem rgba($color: #000000, $alpha: .7);

                                        div.header-table-part-all {
                                            display: flex;
                                            justify-content: space-between;
                                            width: 100%;
                                            padding: 0;

                                            th.header-table-title {
                                                border: 0;
                                                font-size: 80%;
                                                font-weight: 600;
                                                color: rgba($color: #ffffff, $alpha: 1.0);
                                                display: flex;
                                                align-self: center;
                                                justify-content: center;
                                                width: max-content;
                                                position: sticky;
                                                top: 0;
                                            }

                                            th:nth-child(1) {
                                                width: 35%;
                                                justify-content: flex-start;
                                            }

                                            th:nth-child(2) {
                                                width: 20%;
                                            }

                                            th:nth-child(3) {
                                                width: 20%;
                                            }

                                            th:nth-child(4) {
                                                width: 20%;
                                            }

                                            th:nth-child(5) {
                                                width: 20%;
                                            }
                                        }
                                    }
                                }

                                tbody.bodys-table {
                                    width: 100%;


                                    tr.body-table {
                                        width: 100%;
                                        display: flex;
                                        align-self: center;
                                        justify-content: flex-start;
                                        border: 0;
                                        border-bottom: 1px solid rgba($color: $color-gray-2, $alpha: .5);

                                        &:hover {
                                            background-color: rgba($color: #ffffff, $alpha: .1);
                                        }

                                        td.body-table-content {
                                            color: rgba($color: #ffffff, $alpha: 1.0);
                                            font-size: 90%;
                                            font-weight: 600;
                                            width: 100%;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            // padding-left: 0;
                                            padding-right: 0;

                                            div.table-data {
                                                display: flex;
                                                justify-content: space-between;
                                                align-items: center;

                                                i.fas.fa-medal {
                                                    display: flex;
                                                    justify-content: center;
                                                    min-width: 10%;
                                                    font-size: 28px;
                                                    color: $color-gold-2;
                                                }

                                                div.number {
                                                    display: flex;
                                                    justify-content: center;
                                                    width: 30px;
                                                    margin-right: .5rem;
                                                    margin-left: .5rem;
                                                }

                                                i.image-icon.fas.fa-user-circle {
                                                    min-width: 10%;
                                                    font-size: 30px;
                                                    margin-right: .3rem;
                                                    margin-left: .3rem;
                                                }

                                                div.user-name {
                                                    display: flex;
                                                    justify-content: center;
                                                    width: 100px;
                                                }
                                            }
                                        }
                                    }

                                    tr.body-table:nth-child(2n) {
                                        border-bottom: 1px solid rgba($color: #000000, $alpha: .5);
                                        box-shadow: 0 0 0 0.05rem rgba($color: #000000, $alpha: .7);

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}