@import 'base';

div.container-fluid.LeaderBoards {

    background-image: url('./../images/fifa-world-cup-brazil-fifa.png'), url('./../images/fifa-club-world-cup-final.png'), ;
    background-repeat: no-repeat;
    background-size: 100% 100%, 30% 70%;
    background-position: 0 0, bottom right;
    -webkit-box-reflect: below 0 linear-gradient(to bottom, transparent 20%, #000f);
    width: 100%;

    div.card#content {
        background-color: rgba($color: #000000, $alpha: .4);
        display: flex;
        flex-direction: row;
        border-left: 1px solid $color-orange-1;
        border-top: 2px solid $color-orange-1;
        border-bottom: 0;
        border-right: 0;
        border-radius: 0;
        position: relative;
        left: 0;
        height: max-content;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        min-height: 100%;

        div.elements {
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;

            div.tabs {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: 2rem;
                margin-bottom: .5rem;

                div.tab {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 90%;
                    height: 2rem;
                    padding: .5rem;
                    background-color: $color-background-1;
                    color: #ffffff;
                    border: 1px solid $color-orange-1;
                    border-radius: 9px;
                    margin-right: .2rem;

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        background-color: rgba($color: $color-orange-1, $alpha: .2);
                    }

                    &:active {
                        background-color: rgba($color: $color-orange-1, $alpha: .2);
                        border-color: rgba($color: $color-orange-1, $alpha: .2);
                    }
                }
            }

            div.card#tab-content {
                // width: 100%;
                height: 250px;
                border: 1px solid $color-orange-1;
                border-radius: 9px;
                background-color: rgba($color: $color-background-1, $alpha: .5);
                margin: 2rem;
                margin-top: 0;

                div.tab-content-parent {
                    display: flex;
                    width: 100%;
                    height: 100%;

                    div.tab-content-left {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: space-around;
                        // margin-top: 1rem;
                        width: 45%;
                        height: 100%;


                        div.section-left {
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            width: 100%;
                            height: max-content;

                            div.own-logo {
                                width: 50px;
                                height: 50px;
                                background-color: $color-background-1;
                                border-radius: 50%;

                                img.user-team-logo {
                                    width: 100%;
                                    height: 100%;
                                }

                                div.difference {
                                    input.difference-number.form-control {
                                        background: transparent;
                                        color: #ffffff;
                                        padding: .37rem .65rem;
                                        border: none;
                                        width: 60px;
                                        height: 1.7rem;
                                        position: relative;
                                        left: 9px;

                                        &:focus {
                                            box-shadow: 0 0 0 0;
                                        }
                                    }
                                }

                            }

                            div.football {
                                width: 50%;
                                height: 100px;
                                background-color: $color-background-1;

                                img.football-field {
                                    width: 100%;
                                    height: inherit;
                                }
                            }

                            div.other-logo {
                                width: 50px;
                                height: 50px;
                                background-color: $color-background-1;
                                border-radius: 50%;
                                display: flex;
                                flex-direction: column;


                                img.user-team-logo {
                                    width: 100%;
                                    height: 100%;
                                }

                                div.difference {
                                    input.difference-number.form-control {
                                        background: transparent;
                                        color: #ffffff;
                                        border: none;
                                        padding: .37rem .65rem;
                                        width: 60px;
                                        height: 1.7rem;
                                        position: relative;
                                        left: 9px;

                                        &:focus {
                                            box-shadow: 0 0 0 0;
                                        }
                                    }
                                }
                            }
                        }

                        span.hosted {
                            width: 100%;
                            // height: 20px;
                            color: $color-gray-2;
                            padding-left: .5rem;
                            font-weight: 600;
                            font-size: 88%;
                            position: relative;
                            bottom: -1.6rem;
                        }
                    }

                    div.tab-content-right {
                        display: flex;

                        width: 55%;
                        height: 100%;
                        align-items: center;

                        div.section-right {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-around;

                            img.join-button {
                                display: flex;
                                width: 80px;
                                height: 80px;
                            }

                            div.options {
                                display: flex;
                                flex-direction: column;

                                div.option {
                                    width: 100%;
                                    height: 80px;
                                    display: flex;
                                    padding-top: 1rem;
                                    justify-content: flex-start;

                                    span.option-item {
                                        color: #ffffff;
                                        font-weight: bold;
                                        font-size: 95%;
                                        width: 35%;
                                        height: 45px;
                                        display: flex;
                                        align-items: center;
                                    }

                                    input.form-control {
                                        border-radius: 10px;
                                        border: unset;
                                        width: 69%;
                                    }

                                    input.time,
                                    input.advantage {
                                        display: flex;
                                        width: 50px;
                                        height: 45px;
                                        margin-right: .3rem;
                                        font-weight: 600;

                                        &:last-child:not([name="advantage"]) {
                                            width: 55px;
                                            height: 45px;
                                            margin-right: 0;
                                            background-color: rgba($color: $color-orange-1, $alpha: .8);
                                            color: #ffffff;
                                        }

                                    }
                                }

                                span.No {
                                    width: 100%;
                                    height: 20px;
                                    color: $color-gray-2;
                                    font-size: 88%;
                                    font-weight: 600;
                                    display: flex;
                                    justify-content: flex-end;
                                    align-items: center;
                                    position: relative;
                                    bottom: 10px; 
                                    right: -1rem;
                                }
                            }

                        }

                    }
                }

            }
        }

        div.priorities {
            display: flex;
            width: max-content;
            flex-direction: column;
            justify-content: flex-end;
            height: 200px;

            div.Priority {
                display: flex;
                justify-content: space-between;
                width: max-content;
                margin-top: 1rem;

                div.ascending {
                    width: 20px;
                    height: 20px;
                    border-radius: 2px;
                    display: flex;
                    background-color: $color-orange-1;


                }

                span {
                    font-size: 88%;
                    color: $color-gray-2;
                    align-self: center;
                    padding-left: .3rem;
                }

                div.descending {
                    width: 20px;
                    border-radius: 2px;
                    height: 20px;
                    display: flex;
                    background-color: #ffffff;
                }
            }
        }

    }
}