@import 'base';

div.container-fluid.LeaderBoards {

    background-image: url('./../images/fifa-world-cup-brazil-fifa.png'), url('./../images/fifa-club-world-cup-final.png'), ;
    background-repeat: no-repeat;
    background-size: 100% 100%, 30% 70%;
    background-position: 0 0, bottom right;
    -webkit-box-reflect: below 0 linear-gradient(to bottom, transparent 20%, #000f);
    width: 100%;

    div.card#content {
        background-color: rgba($color: #000000, $alpha: .4);
        display: flex;
        border-left: 1px solid $color-orange-1;
        border-top: 2px solid $color-orange-1;
        border-bottom: 0;
        border-right: 0;
        border-radius: 0;
        position: relative;
        left: 0;
        height: max-content;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        min-height: 100%;

        div.elements {
            width: 70%;
            height: 100%;

            div.tabs {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: 2rem;
                margin-bottom: .5rem;

                div.tab {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 90%;
                    height: 2rem;
                    padding: .5rem;
                    background-color: $color-background-1;
                    color: #ffffff;
                    border: 1px solid $color-orange-1;
                    border-radius: 9px;
                    margin-right: .2rem;

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        background-color: rgba($color: $color-orange-1, $alpha: .2);
                    }

                    &:active {
                        background-color: rgba($color: $color-orange-1, $alpha: .2);
                        border-color: rgba($color: $color-orange-1, $alpha: .2);
                    }
                }
            }

            div.card#tab-content {
                // width: 70%;
                height: 250px;
                border: 1px solid $color-orange-1;
                border-radius: 9px;
                background-color: rgba($color: #000000, $alpha: .4);
                margin: 2rem;
                margin-top: .5rem;
                div.tab-content-parent{
                    display: flex;
                    width: 50%;
                    height: 100%;
                    div.tab-content-left{
                        display: flex;
                        align-items: flex-start;
                        margin-top: 1rem;
                        div.section-left{
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            width: 100%;
                            height: max-content;
                            div.own-logo {
                                width: 50px;
                                height: 50px;
                                background-color: $color-background-1;
                                border-radius: 50%;
            
                                img.user-team-logo {
                                    width: 100%;
                                    height: 100%;
                                }
                                div.difference{
                                    input.difference-number.form-control{
                                        background: transparent;
                                        color:#ffffff;
                                        padding: .375rem .65rem;
                                        border: none;

                                    }
                                }

                            }
            
                            div.football {
                                width: 50%;
                                height: 100px;
                                background-color: $color-background-1;
            
                                img.football-field {
                                    width: 100%;
                                    height: inherit;
                                }
                            }
            
                            div.other-logo {
                                width: 50px;
                                height: 50px;
                                background-color: $color-background-1;
                                border-radius: 50%;
                                display: flex;
                                flex-direction: column;
                                
            
                                img.user-team-logo {
                                    width: 100%;
                                    height: 100%;
                                }
                                div.difference{
                                    input.difference-number.form-control{
                                        background: transparent;
                                        color:#ffffff;
                                        border: none;
                                        padding: .375rem .65rem;
                                    }
                                }
                            }
                        }
                    }
                    div.tab-content-right{
                        
                    }
                }

            }
        }
    }
}