@import 'base';


div.container-fluid.Liga {

    background-image: url('./../images/fifa-world-cup-brazil-fifa.png'), url('./../images/fifa-club-world-cup-final.png'), ;
    background-repeat: no-repeat;
    background-size: 100% 100%, 30% 350px;
    background-position: 0 0, bottom right;
    -webkit-box-reflect: below 0 linear-gradient(to bottom, transparent 20%, #000f);
    width: 100%;

    div.card#content {
        background-color: rgba($color: #000000, $alpha: .4);
        display: flex;
        flex-direction: row;
        border-left: 1px solid $color-orange-1;
        border-top: 2px solid $color-orange-1;
        border-bottom: 0;
        border-right: 0;
        border-radius: 0;
        position: relative;
        left: 0;
        height: 140vh;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        min-height: 100%;


        div.elements {
            width: 75%;
            height: 100%;
            display: flex;
            flex-direction: column;
            
            }
        }
    }