@import 'base';

div.modal-dialog.login-modal {
    div.modal-content {
        background-color: rgba($color: $color-background-1, $alpha: .7);
        border-color: $color-orange-1;
        border-radius: 28px;
        margin-top: 14%;

        div.modal-body {
            background-color: transparent;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin-right: 0;
            width: 100%;
            padding-left: 0;
            padding-right: 0;


            div.title-login.modal-header {
                border-bottom: none;

                h2 {
                    color: $color-white;
                    font-weight: bold;

                    span {
                        font-weight: bold;
                        color: $color-orange-1;
                    }
                }

                p.text-white {
                    margin-top: .5rem;
                    font-size: 90%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    a {
                        font-size: 85%;
                        color: red;
                        font-weight: bold;
                        width: max-content;
                        padding: 0 .5rem;
                        cursor: pointer;

                        &:focus {
                            outline: none;
                        }

                    }
                }
            }

            form.form-login {
                padding-top: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                div.form-fields {
                    padding: 0;
                    margin-top: .5rem;
                    width: 80%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    label {
                        font-size: 80%;
                        color: red;
                        font-weight: bold;
                        width: 70%;
                    }

                    div.input-group {

                        span {
                            position: absolute;
                            right: 10px;
                            z-index: 10;
                            top: 5px;
                        }
                    }

                    input {
                        direction: ltr;
                        border-color: $color-gray-1;
                        background-color: rgba($color: $color-white, $alpha: .6);
                        border-radius: 7px;

                        &:focus {
                            box-shadow: 0 0 1px .2rem rgba($color: $color-white, $alpha: .2);
                            background-color: rgba($color: $color-white, $alpha: .9);
                        }
                    }


                    div.password-block {
                        height: 45.5px ;

                        input[name="password"] {
                            padding-right: 2rem;
                        }

                        i.far.fa-eye {
                            display: flex;
                            flex-direction: row-reverse;
                            color: $color-gray-2;
                            width: max-content;
                            font-size: 17px;
                            position: relative;
                            bottom: 2.3rem;
                            right: -92.5%;
                            height: 30px;
                            display: flex;
                            align-items: center;
                            z-index: 100;
                        }

                    }

                    small {
                        a {
                            color: $color-orange-1;
                            font-weight: bold;
                        }
                    }

                    span.form-validate {
                        font-size: 80%;
                        color: #ffffff;
                        background-color: rgba(red, $alpha: .7);
                        padding: .5rem;
                        border: 1px solid rgba(red, $alpha: .9);
                        border-radius: 5px;
                        margin-bottom: .2rem;
                    }

                }


                a.forgot {
                    font-size: 85%;
                    color: $color-orange-1;
                    font-weight: bold;
                    width: 75%;
                    text-align: right;

                    &:focus {
                        outline: none;
                    }
                }

                div.form-button {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    width: 100%;

                    button.login {
                        background-color: $color-orange-1;
                        border-color: $color-orange-1;
                        border-radius: 28px;
                        outline: none;
                        font-size: 95%;
                        color: $color-white;

                        &:focus {
                            box-shadow: 0 0 1px .2rem rgba($color: $color-orange-1, $alpha: .3);
                        }
                    }
                }
            }

            div.toast-container-error {
                background-color: rgba(red, $alpha: .7);
                font-size: 90%;
            }

        }
    }
}