@import 'base';

div.card {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-left: 2px solid $color-orange-1;
    border-top: 2px solid $color-orange-1;
    border-bottom: 0;
    border-right: 0;
    border-radius: 0;
    background: transparent;
    position: relative;
    left: 0;
    // height: 100vh;
    padding-left: 0;
    padding-right: 0;
    width: 90%;
}