@import 'base';

@media(max-width:991px) {

    div.card-body#card-form-signup {
        background-position: right 96%, -10px -15px;
        background-size: 40% 35%, cover;
        position: relative;
        right: -15%;
        padding: 0;
        width: 85%;

        div.card-form {
            border-radius: 9px;
            margin: 2rem;
            width: 65%;
            height: max-content;
            display: flex;
            flex-direction: column;

            div.title {
                display: flex;
                flex-direction: column;
                width: 100%;

                h1.h1 {
                    font-size: 2.2rem;
                }

                p.text-muted {
                    font-weight: bold;
                    font-size: 75%;
                    margin-bottom: .3rem;
                    text-align: center;
                }

                a#goLogin {
                    font-weight: bold;
                    font-size: 75%;
                    text-align: center;
                }
            }

            form.form-signup {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 90%;
                margin-top: 2rem;
                padding: .9rem;

                h3.h3 {
                    display: flex;
                    font-size: 95%;
                    font-weight: bold;
                    justify-content: center;
                    margin-top: .5rem;
                    margin-bottom: 1rem;
                }

                div.form-group {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: 0;
                    margin-right: 0;

                    label {
                        display: flex;
                        justify-content: center;
                        justify-content: flex-start;
                        font-size: 80%;

                        a {
                            font-size: 100%;
                            font-weight: bold;
                        }
                    }

                    label.label-check-box {
                        font-size: 80%;
                        flex-direction: column;

                        a {
                            padding-left: 3px;
                        }
                    }

                    input {
                        border-radius: 9px;
                        font-size: 80%;
                        padding-left: .5rem;
                    }

                    div.form-check-inline {
                        width: 10%;
                        margin-right: 0;

                        input[type="checkbox"] {
                            width: 25px;
                            height: 25px;
                            margin-right: 0;
                        }
                    }

                    div.captcha-block {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        div.captcha {
                            width: 100px;
                            height: 50px;
                            margin-bottom: 1rem;
                            font-size: 90%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    button.register {
                        border-radius: 28px;
                        outline: none;
                        font-size: 95%;
                        position: relative;
                        left: 45%;
                    }
                }
            }
        }
    }
}

@media(max-width:767px) {
    div.card-body#card-form-signup {
        background-position: right 96%, -10px -15px;
        background-size: 35% 33%, cover;
        position: relative;
        right: -15%;
        padding: 0;
        width: 85%;

        div.card-form {
            border-radius: 9px;
            margin: 1.3rem;
            width: 78%;
            height: max-content;
            display: flex;
            flex-direction: column;

            div.title {
                display: flex;
                flex-direction: column;
                width: 100%;

                h1.h1 {
                    margin-top: .5rem;
                    font-size: 2rem;
                }

                p.text-muted {
                    font-weight: bold;
                    font-size: 73%;
                    margin-bottom: .3rem;
                    text-align: center;
                }

                a#goLogin {
                    font-weight: bold;
                    font-size: 73%;
                    text-align: center;
                }
            }

            form.form-signup {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 90%;
                margin-top: 2rem;
                padding: .8rem;
                padding-right: 0;

                h3.h3 {
                    display: flex;
                    font-size: 93%;
                    font-weight: bold;
                    justify-content: center;
                    margin-top: .5rem;
                    margin-bottom: 1rem;
                }

                div.form-group {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: 0;
                    margin-right: 0;

                    label {
                        display: flex;
                        justify-content: center;
                        justify-content: flex-start;
                        font-size: 78%;

                        a {
                            font-size: 100%;
                            font-weight: bold;
                        }
                    }

                    label.label-check-box {
                        font-size: 78%;
                        flex-direction: column;
                        width: 88%;

                        a {
                            padding-left: 3px;
                        }
                    }

                    input {
                        border-radius: 9px;
                        font-size: 80%;
                        padding-left: .5rem;
                    }

                    div.form-check-inline {
                        width: 12%;
                        // margin-right: .1rem;

                        input[type="checkbox"] {
                            width: 25px;
                            height: 25px;
                            margin-right: 0;
                        }
                    }

                    div.captcha-block {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        div.captcha {
                            width: 100px;
                            height: 50px;
                            margin-bottom: 1rem;
                            font-size: 90%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    button.register {
                        border-radius: 28px;
                        outline: none;
                        font-size: 95%;
                        position: relative;
                        left: 45%;
                    }
                }
            }
        }
    }
}

@media(max-width:575px) {
    div.card-body#card-form-signup {
        background-position: right 96%, -10px -15px;
        background-size: 30% 33%, cover;
        justify-content: center;
        position: relative;
        right: -15%;
        padding: 0;
        width: 85%;

        div.card-form {
            border-radius: 9px;
            margin: 1.3rem;
            width: 85%;
            height: max-content;
            display: flex;
            flex-direction: column;

            div.title {
                display: flex;
                flex-direction: column;
                width: 100%;

                h1.h1 {
                    margin-top: .5rem;
                    font-size: 1.8rem;
                }

                p.text-muted {
                    font-weight: bold;
                    font-size: 70%;
                    margin-bottom: .3rem;
                    text-align: center;
                }

                a#goLogin {
                    font-weight: bold;
                    font-size: 70%;
                }
            }

            form.form-signup {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 90%;
                margin-top: 2rem;
                padding: .7rem;
                padding-right: 0;

                h3.h3 {
                    display: flex;
                    font-size: 90%;
                    font-weight: bold;
                    justify-content: center;
                    margin-top: .5rem;
                    margin-bottom: .8rem;
                }

                div.form-group {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: 0;
                    margin-right: 0;

                    label {
                        display: flex;
                        justify-content: center;
                        justify-content: flex-start;
                        font-size: 75%;

                        a {
                            font-size: 100%;
                            font-weight: bold;
                        }
                    }

                    label.label-check-box {
                        font-size: 75%;
                        flex-direction: column;
                        width: 88%;

                        a {
                            padding-left: 3px;
                        }
                    }

                    input {
                        border-radius: 9px;
                        font-size: 80%;
                        padding-left: .5rem;
                    }

                    div.form-check-inline {
                        width: 12%;
                        // margin-right: .1rem;

                        input[type="checkbox"] {
                            width: 23px;
                            height: 23px;
                            margin-right: 0;
                        }
                    }

                    div.captcha-block {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 0;

                        div.captcha {
                            width: 95px;
                            height: 45px;
                            margin-bottom: .8rem;
                            font-size: 83%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    button.register {
                        outline: none;
                        font-size: 90%;
                        position: relative;
                        left: 0;
                    }
                }
            }
        }
    }
}

@media(max-width:490px) {
    div.card-body#card-form-signup {
        background-position: right 96%, -10px -22px;
        background-size: 28% 28%, cover;
        justify-content: center;
        position: relative;
        right: 0;
        padding: 0;
        width: 100%;

        div.card-form {
            border-radius: 9px;
            margin: 1rem;
            width: 85%;
            height: max-content;
            display: flex;
            flex-direction: column;

            div.title {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: .3rem;

                h1.h1 {
                    margin-top: .5rem;
                    font-size: 1.5rem;
                }

                p.text-muted {
                    font-size: 70%;
                    margin-bottom: .3rem;
                }

                a#goLogin {
                    font-size: 70%;
                }
            }

            form.form-signup {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 95%;
                margin-top: 1.5rem;
                padding: .5rem;
                padding-right: 0;

                h3.h3 {
                    display: flex;
                    font-size: 88%;
                    font-weight: bold;
                    justify-content: center;
                    margin-top: .5rem;
                    margin-bottom: .8rem;
                }

                div.form-group {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: 0;
                    margin-right: 0;

                    label {
                        display: flex;
                        justify-content: center;
                        justify-content: flex-start;
                        font-size: 73%;

                        a {
                            font-size: 100%;
                            font-weight: bold;
                        }
                    }

                    label.label-check-box {
                        font-size: 73%;
                        flex-direction: column;
                        width: 90%;

                        a {
                            padding-left: 3px;
                        }
                    }

                    input {
                        border-radius: 9px;
                        font-size: 78%;
                        padding-left: .5rem;
                    }

                    div.form-check-inline {
                        width: 9%;
                        // margin-right: .1rem;

                        input[type="checkbox"] {
                            width: 20px;
                            height: 20px;
                            margin-right: 0;
                        }
                    }

                    div.captcha-block {
                        align-items: center;
                        justify-content: center;
                        padding: 0;

                        div.captcha {
                            width: 90px;
                            height: 40px;
                            margin-bottom: 1rem;
                            font-size: 80%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    button.register {
                        outline: none;
                        font-size: 85%;
                        position: relative;
                        left: 0;
                    }
                }
            }
        }
    }
}

@media(max-width:350px){
    div.card-body#card-form-signup {
        background-position: right 96%, -10px -22px;
        background-size: 28% 28%, cover;
        justify-content: center;
        position: relative;
        right: 0;
        padding: 0;
        width: 100%;

        div.card-form {
            border-radius: 9px;
            margin: 1rem;
            width: 85%;
            height: max-content;
            display: flex;
            flex-direction: column;

            div.title {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: .3rem;

                h1.h1 {
                    margin-top: .5rem;
                    font-size: 1.5rem;
                }

                p.text-muted {
                    font-size: 70%;
                    margin-bottom: .3rem;
                }

                a#goLogin {
                    font-size: 70%;
                }
            }

            form.form-signup {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 96.2%;
                margin-top: 1.5rem;
                padding: .4rem;
                padding-right: 0;

                h3.h3 {
                    display: flex;
                    font-size: 88%;
                    font-weight: bold;
                    justify-content: center;
                    margin-top: .5rem;
                    margin-bottom: .8rem;
                }

                div.form-group {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: 0;
                    margin-right: 0;

                    label {
                        display: flex;
                        justify-content: center;
                        justify-content: flex-start;
                        font-size: 73%;

                        a {
                            font-size: 100%;
                            font-weight: bold;
                        }
                    }

                    label.label-check-box {
                        font-size: 70%;
                        flex-direction: column;
                        width: 91%;

                        a {
                            padding-left: 3px;
                        }
                    }

                    input {
                        border-radius: 9px;
                        font-size: 78%;
                        padding-left: .5rem;
                    }

                    div.form-check-inline {
                        width: 8%;
                        // margin-right: .1rem;
                        // padding-bottom: 0;

                        input[type="checkbox"] {
                            width: 18px;
                            height: 18px;
                            margin-right: 0;
                        }
                    }

                    div.captcha-block {
                        align-items: center;
                        justify-content: center;
                        padding: 0;

                        div.captcha {
                            width: 90px;
                            height: 40px;
                            margin-bottom: 1rem;
                            font-size: 80%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    button.register {
                        outline: none;
                        font-size: 85%;
                        position: relative;
                        left: 0;
                    }
                }
            }
        }
    }
}