@import 'base';


@media(max-width :991px){
    div.container-fluid{
        div.navbar{

            div.nav-right{
                display: flex;
                width:max-content;
                ul.navbar-nav{
                    display: flex;
                    flex-direction: row;
                    padding-right: 0;
    
                    li.nav-item{
                        display: flex;
                        padding-right: 5px;
                        padding-top: 3px;
                        a.nav-link{
                            // display: none;
                            font-size: 88%;
                            padding: .5rem .6rem;
                        }
                        a.nav-link#signin,
                        a.nav-link#login{
                            font-size: 88%;
                            padding-left: 1.5rem;
                            padding-right: 1.5rem;
                        }
                    }
                }
            }
            div.nav-left{
                width: 240px;
                div.empty-content{
                    width: 90% ;
                    height: 2rem ;
                    position: relative;
                    left: -20px
                }
                h4.UFOGame{
                    font-weight: 600;
                    width: auto;
                    margin-bottom: 0;
                    span{ }
                }
                img.logo{
                    margin-right: 5px;
                    width: 50px;
                    height: 40px;
                }
    
            }
        }
    }
}

@media(max-width :767px){
    div.container-fluid{
        nav.navbar{
            position: relative;
            div.hamburger-menu {

                position: absolute;
                right: 1rem;
                
                div.navbar-toggler-icon {
                    width: 2em;
                    height: 2em;
            
                }
            
                .menu {
                    border-radius: 4px;
                    padding: 4px;
                    transition: transform .5s;
                    // border: 1px solid #fff;
                    // border-radius: 2px;
            
                    &-line {
                        width: 100%;
                        height: 3px;
                        margin-bottom: 5px;
                        background-color: #fff;
                        border-radius: 2px;
                        transition: all .3s .3s;
                        transform-origin: left;
            
                    }
                }
            }

            div.nav-right{
                width:max-content;
                ul.navbar-nav{
                    padding-right: 0;
    
                    li.nav-item{
                        display: flex;
                        padding-right: 5px;
                        padding-top: 0;
                        position: relative;
                        left:-3rem;
                        a.nav-link{}
                        a.nav-link#signin,
                        a.nav-link#login{
                            font-size: 85%;
                            padding-left: 1.3rem;
                            padding-right: 1.3rem;
                        }
                    }
                }
            }
            div.nav-left{
                width: 240px;
                div.empty-content{
                    width: 90% ;
                    height: 2rem ;
                    position: relative;
                    left: -20px
                }
                h4.UFOGame{
                    font-weight: 600;
                    width: auto;
                    margin-bottom: 0;
                    span{ }
                }
                img.logo{
                    margin-right: 5px;
                    width: 45px;
                    height: 40px;
                }
            }
        }
    }
}

@media (min-width:768px){
    div.hamburger-menu{
        display: none;
    }
}