@import 'base';

@media(max-width:991px) {
    nav.navbar.user-header {
        padding: .5rem;
        width: 100%;

        div.navbar-right {
            width: 50%;

            p.text-muted {
                width: max-content;
                margin-right: 1rem;
                margin-left: .8rem;
                font-size: 92%;
            }

            a.nav-link-icon {
                width: 40px;
                height: 40px;
                margin-right: .5rem;

                img.image-icon {
                    width: 20px;
                    height: 20px;
                }
            }

            a.nav-link-icon#user {
                width: 40px;
                height: 40px;

                img.image-icon#user {
                    width: 40px;
                    height: 40px;
                }
            }

            a.nav-link-icon#ticket {
                width: 33px;
                height: 33px;

                img.image-icon#ticket {
                    width: 28px;
                    height: 28px;
                }
            }

            a.nav-link-icon#bell {
                width: 28px;
                height: 28px;

                img.image-icon#bell {
                    width: 23px;
                    height: 23px;
                }
            }

            a.nav-link-icon#telegram {
                width: 23px;
                height: 23px;

                img.image-icon#telegram {
                    width: 20px;
                    height: 20px;
                }
            }

            a.nav-link-icon#wallet {
                width: 25px;
                height: 25px;

                img.image-icon#wallet {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        div.navbar-left {
            width: 50%;

            div.empty-content {
                width: 90px;
                height: 2rem;
                position: relative;
                left: -25px
            }

            h4.UFOGame {
                font-weight: 600;
                z-index: 10;
                width: auto;
                margin-bottom: 0;

                span {}
            }

            img.logo {
                margin-right: 8px;
                width: 50px;
                height: 50px;
            }

            input[type="search"] {
                direction: ltr;
                width: 140px;
                height: 2rem;
                background-color: #000;
                border-radius: 9px;
                font-size: 85%;
                padding-left: 5px;
            }
        }
    }
}


@media(max-width:798px){
    nav.navbar.user-header{
        padding: .5rem;
        width: 100%;
        div.hamburger-menu {
            
            position: absolute;
            right: 1rem;
            top: 0;
            button.navbar-toggler {

                &:focus {
                    border: none;
                    outline: 0;
                }

                span.navbar-toggler-icon {
                    display: flex;
                    flex-direction: column;
                    width: 2em;
                    height: 2em;
                    padding-bottom: 0;
                    justify-content: center;

                }

                .menu {
                    border-radius: 4px;
                    padding: 4px;
                    transition: transform .3s;

                    &-line {
                        width: 100%;
                        height: 3px;
                        margin-bottom: 5px;
                        background-color: #fff;
                        // border-radius: 2px;
                        transition: all .3s .3s;
                        transform-origin: left;

                    }
                }
            }
        }
        div.navbar-right {
            width: 50%;
            height: 2.5rem;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            div.navbar-collapse.collapse.collapse-user.row.part-1{
                // width: max-content;

            }
            div.navbar-collapse.collapse.collapse-user.part-1.row.show{
                display: flex;
                position: relative;
                right: 2.7rem;
                p.text-muted {
                    width: max-content;
                    // margin-right: .6rem;
                    margin-left: .6rem;
                    font-size: 90%;
                }
                a.nav-link-icon#user {
                    width: 35px;
                    height: 35px;
    
                    img.image-icon#user {
                        width: 35px;
                        height: 35px;
                    }
                }
    
                a.nav-link-icon#ticket {
                    width: 30px;
                    height: 30px;
    
                    img.image-icon#ticket {
                        width: 25px;
                        height: 25px;
                    }
                }

            }

            div.row.part-2{
                display: flex;
                a.nav-link-icon#bell {
                    width: 25px;
                    height: 25px;
    
                    img.image-icon#bell {
                        width: 20px;
                        height: 20px;
                    }
                }
    
                a.nav-link-icon#telegram {
                    width: 23px;
                    height: 23px;
    
                    img.image-icon#telegram {
                        width: 20px;
                        height: 20px;
                    }
                }
    
                a.nav-link-icon#wallet {
                    width: 23px;
                    height: 23px;
    
                    img.image-icon#wallet {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            a.nav-link-icon {
                width: 35px;
                height: 35px;
                margin-right: .4rem;

                img.image-icon {
                    width: 20px;
                    height: 20px;
                }
            }




        }

        div.navbar-left {
            width: 50%;

            div.empty-content {
                width: 90px;
                height: 2rem;
                position: relative;
                left: -25px
            }

            h4.UFOGame {
                font-weight: 600;
                z-index: 10;
                width: auto;
                margin-bottom: 0;

                span {}
            }

            img.logo {
                margin-right: 8px;
                width: 50px;
                height: 50px;
            }

            input[type="search"] {
                direction: ltr;
                width: 140px;
                height: 2rem;
                background-color: #000;
                border-radius: 9px;
                font-size: 85%;
                padding-left: 5px;
            }
        }
    }
}