@import 'base';

@media(max-width:1199px){
    div.container-fluid.userAccount {
        background-size: 65% 100%, 100%;
    
        div.card#content {
        
            height: max-content;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            min-height: 100%;
    
            div.row.games {
                margin: .8rem 0;
    
                div.game {
                    padding: 0;
                    width: 25%;
                    margin-bottom: 1.5rem;
                    margin-right: auto;
                    z-index: 15;
    
                    img.game-image {
                        // height: 50%;
                        margin-bottom: .8rem;
                        -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
                    }
    
                    div.online {
                        width: 50%;
                        // height: 22%;
                        padding-left: .5rem;
                        border-radius: 28px;
                        padding-top: .5rem;
                        font-size: 85%;
                        padding-bottom: .5rem;
                    }
                }
            }
    
            div.empty-square{
                width: 14%;
                height: 25%;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    
    }
}


@media(max-width:991px){
    div.container-fluid.userAccount {
        background-size: 65% 100%, 100%;
    
        div.card#content {
        
            height: max-content;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            min-height: 100%;
    
            div.row.games {
                margin: .8rem 0;
    
                div.game {
                    padding: 0;
                    width: 33%;
                    margin-bottom: 1.5rem;
                    margin-right: auto;
                    z-index: 15;
    
                    img.game-image {
                        // height: 50%;
                        width: 185px;
                        margin-bottom: .8rem;
                        -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 75%, #000f);
                    }
    
                    div.online {
                        width: 50%;
                        // height: 22%;
                        padding-left: .5rem;
                        border-radius: 28px;
                        padding-top: .5rem;
                        font-size: 85%;
                        padding-bottom: .5rem;
                    }
                }
            }
    
            div.empty-square{
                width: 14%;
                height: 25%;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    
    }
}