@import 'base';


@media(max-width:1199px) {
    div.sidebar-menu {
        width: 15%;

        ul.list-menu {
            height: 80%;
            width: 100%;

            li.list-item {
                a.nav-link {
                    line-height: 30px;
                    font-size: 93%;
                }
            }
        }

    }
}

@media(max-width:991px) {
    div.sidebar-menu {
        width: 16.3%;

        ul.list-menu {
            height: 80%;
            width: 100%;

            li.list-item {
                a.nav-link {
                    line-height: 28px;
                    font-size: 88%;
                }
            }
        }

    }
}

@media(max-width:891px) {
    div.sidebar-menu {
        width: 16.3%;

        ul.list-menu {
            height: 80%;
            width: 100%;

            li.list-item {
                a.nav-link {
                    line-height: 28px;
                    font-size: 85%;
                }
            }
        }

    }
}