@import 'base';

@media(max-width:991px) {

    div.container-fluid {
        div.cards {
            width: 65%;

            div.title{
                a#goLogin {
                    font-size: 75%;
    
                }
            }

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 90%;
                margin-top: 2rem;

                h3.h3 {
                    display: flex;
                    font-size: 95%;
                    margin-top: .5rem;
                    margin-bottom: 1rem;
                }

                div.form-group {
                    // margin-top: 1rem;
                    margin-left: 0;

                    label {
                        font-size: 85%;

                        a {
                            font-size: 100%;
                        }

                    }

                    label.label-check-box {
                        font-size: 80%;

                        a {
                            padding-left: 3px;
                        }


                    }
                }
            }
        }
    }

    @media(max-width:575px) {

        div.container-fluid {
            div.card {
                width: 90%;
                margin-left: .5rem;
                margin-right: .5rem;

                p.text-muted {
                    font-size: 72%;
                    margin-bottom: .3rem;
                }

                a#goLogin {
                    font-size: 72%;
                }

                form {
                    width: 90%;
                    margin-top: 2rem;

                    h3.h3 {
                        font-size: 92%;
                        margin-top: .5rem;
                        margin-bottom: 1rem;
                    }

                    div.form-group {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        label {
                            font-size: 78%;

                            a {
                                font-size: 100%;
                            }
                        }

                        label.label-check-box {
                            font-size: 75%;

                            a {
                                padding-left: 3px;
                            }

                        }
                    }

                }
            }
        }
    }
}