@import 'base';


@media(max-width :991px) {
    section.main-slider {
        div.container-fluid {
            div.row {
                div.aaa {
                    div.sidebar.bbb {
                        div.card-columns {
                            div.card {
                                width: 50px;
                                height: 50px;
                            }

                            div.card-body {}
                        }
                    }
                }

                div.card.ccc {
                    div.card-body {
                        div.card-text {
                            width: 80%;

                            h1.Tournament {
                                font-size: 2.5rem;
                            }

                            h1.title {
                                font-size: 2.5rem;

                                span.h1 {
                                    font-size: 2.5rem;
                                }
                            }

                            h1.garanti {
                                font-size: 2.6rem;
                            }
                        }
                    }

                    div.swiper-container.swiper-container-initialized.swiper-container-horizontal {
                        width: 55%;

                        div.swiper-wrapper {
                            width: 100%;
                            margin-right: 0;

                            div.swiper-slide {
                                width: 100%;
                                height: 60vh;
                                display: flex;

                                div.slides {

                                    // width: 100%;
                                    img.card-img-top {}
                                }
                            }
                        }

                        div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
                            display: flex;
                            flex-direction: column;
                            height: 130px;

                            span.swiper-pagination-bullet {
                                display: flex;
                                justify-content: flex-end;
                                width: 100%;
                                height: 50px;
                                padding-right: 1.2rem;
                                color: #ffffff;
                                font-size: 14px;
                                background: transparent;
                            }

                            span.swiper-pagination-bullet.swiper-pagination-bullet-active {
                                font-size: 18px;
                                // font-weight: bold;

                            }

                        }
                    }
                }

                div.row.images {
                    width: 90%;
                }
            }
        }
    }
}

@media(max-width :820px) {
    section.main-slider {
        div.container-fluid {
            div.row {
                div.aaa {
                    div.sidebar.bbb {
                        div.card-columns {
                            div.card {
                                width: 50px;
                                height: 50px;
                            }

                            div.card-body {}
                        }
                    }
                }

                div.card.ccc {
                    div.card-body {
                        div.card-text {
                            h1.Tournament {
                                font-size: 2.3rem;
                            }

                            h1.title {
                                font-size: 2.3rem;

                                span.h1 {
                                    font-size: 2.3rem;
                                }
                            }

                            h1.garanti {
                                font-size: 2.4rem;
                            }
                        }
                    }

                    div.swiper-container.swiper-container-initialized.swiper-container-horizontal {
                        width: 55%;

                        div.swiper-wrapper {
                            width: 100%;
                            margin-right: 0;

                            div.swiper-slide {
                                width: 100%;
                                height: 60vh;
                                display: flex;

                                div.slides {

                                    // width: 100%;
                                    img.card-img-top {}
                                }
                            }
                        }

                        div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
                            display: flex;
                            flex-direction: column;
                            height: 130px;

                            span.swiper-pagination-bullet {
                                display: flex;
                                justify-content: flex-end;
                                width: 100%;
                                height: 50px;
                                padding-right: 1rem;
                                color: #ffffff;
                                font-size: 13px;
                                background: transparent;
                            }

                            span.swiper-pagination-bullet.swiper-pagination-bullet-active {
                                font-size: 17px;
                                // font-weight: bold;

                            }

                        }
                    }
                }

                div.row.images {
                    width: 90%;
                }
            }
        }
    }
}


@media(max-width :767px) {
    section.main-slider {
        div.container-fluid {
            div.row {
                div.aaa {
                    div.sidebar.bbb {
                        div.card-columns {
                            div.card {
                                width: 45px;
                                height: 45px;
                            }

                            div.card-body {}
                        }
                    }
                }

                div.card.ccc {
                    div.card-body {
                        div.card-text {
                            h1.Tournament {
                                font-size: 2rem;
                            }

                            h1.title {
                                font-size: 2rem;

                                span.h1 {
                                    font-size: 2rem;
                                }
                            }

                            h1.garanti {
                                font-size: 2.1rem;
                            }
                        }
                    }
                    div.swiper-container.swiper-container-initialized.swiper-container-horizontal {
                        width: 55%;

                        div.swiper-wrapper {
                            width: 100%;
                            margin-right: 0;

                            div.swiper-slide {
                                width: 100%;
                                height: 60vh;
                                display: flex;

                                div.slides {

                                    // width: 100%;
                                    img.card-img-top {}
                                }
                            }
                        }

                        div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
                            display: flex;
                            flex-direction: column;
                            height: 130px;

                            span.swiper-pagination-bullet {
                                display: flex;
                                justify-content: flex-end;
                                width: 100%;
                                height: 50px;
                                padding-right: 1rem;
                                color: #ffffff;
                                font-size: 13px;
                                background: transparent;
                            }

                            span.swiper-pagination-bullet.swiper-pagination-bullet-active {
                                font-size: 17px;
                                // font-weight: bold;

                            }

                        }
                    }
                }

                div.row.images {
                    width: 90%;
                }
            }
        }
    }
}

@media (max-width:690px) {

    section.main-slider {
        div.container-fluid {
            div.row {
                div.aaa {
                    div.sidebar.bbb {
                        div.card-columns {
                            div.card {
                                width: 45px;
                                height: 45px;
                            }

                            div.card-body {}
                        }
                    }
                }

                div.card.ccc {
                    div.card-body {
                        height: 85%;
                        div.card-text {
                            h1.Tournament {
                                font-size: 1.8rem;
                            }

                            h1.title {
                                font-size: 1.8rem;

                                span.h1 {
                                    font-size: 1.8rem;
                                }
                            }

                            h1.garanti {
                                font-size: 1.8rem;
                            }
                        }
                    }

                    div.swiper-container.swiper-container-initialized.swiper-container-horizontal {
                        width: 55%;

                        div.swiper-wrapper {
                            width: 100%;
                            margin-right: 0;

                            div.swiper-slide {
                                width: 100%;
                                height: 60vh;
                                display: flex;

                                div.slides {
                                    // width: 100%;
                                    img.card-img-top {}
                                }
                            }
                        }

                        div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
                            display: flex;
                            flex-direction: column;
                            height: 130px;

                            span.swiper-pagination-bullet {
                                display: flex;
                                justify-content: flex-end;
                                width: 100%;
                                height: 50px;
                                padding-right: 1rem;
                                color: #ffffff;
                                font-size: 13px;
                                background: transparent;
                            }

                            span.swiper-pagination-bullet.swiper-pagination-bullet-active {
                                font-size: 17px;
                                // font-weight: bold;

                            }

                        }
                    }
                }

            }

            div.row.images {
                width: 90%;
            }
        }
    }
}