@import 'base';

div.tabs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2rem;
    margin-bottom: .5rem;

    a.tab {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 2rem;
        padding: .5rem;
        background-color: $color-background-1;
        color: #ffffff;
        border: 1px solid $color-orange-1;
        border-radius: 9px;
        margin-right: .2rem;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: rgba($color: $color-orange-1, $alpha: .2);
            text-decoration: none;
        }

        &:focus {
            outline: 0;

        }
    }

    a.tab.selected {
        background-color: rgba($color: $color-orange-1, $alpha: .2);
        border-color: rgba($color: $color-orange-1, $alpha: .2);
    }
}