@import 'base';

@import 'base';


div.container-fluid.News {

    // background-image: url('./../images/soldier-background.png');
    background-repeat: no-repeat;
    background-size: 60% 100%;
    background-position: left;
    // -webkit-box-reflect: below 0 linear-gradient(to bottom, transparent 20%, #000f);
    width: 100%;

    div.card#content {
        background-color: rgba($color: #000000, $alpha: .4);
        display: flex;
        flex-direction: row;
        border-left: 1px solid $color-orange-1;
        border-top: 2px solid $color-orange-1;
        border-bottom: 0;
        border-right: 0;
        border-radius: 0;
        position: relative;
        left: 0;
        height: 100%;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        min-height: 100%;


        div.elements {
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;

            div.main-content-news {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                // flex-direction: column;

                div.sidebar-title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: max-content;
                    padding: 1rem 0;
                    transform: rotate(90deg);
                    position: relative;
                    top: -55%;
                    right: -40%;

                    img.logo {
                        width: 80px;
                        height: 100px;
                        opacity: .2;
                        margin-right: 2rem;
                    }



                    h1.h1.title-angel {
                        display: flex;
                        font-weight: bold;
                        width: max-content;
                        height: 100%;
                        font-size: 800%;
                        color: rgba($color: $color-white, $alpha: .6);
                        letter-spacing: 2rem;
                        opacity: .4;

                        span.game {
                            color: rgba($color: $color-orange-1, $alpha: .6);
                            letter-spacing: 2rem;
                            opacity: .4;

                        }
                    }
                }

                div.parent-news {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 85%;
                    height: 80%;

                    div.main-card-news {
                        width: 91%;
                        height: 30%;
                        background-color: rgba($color: $color-white, $alpha: .9);
                        // margin-bottom: 1rem;
                        border-radius: 2px;
                        display: flex;
                        justify-content: flex-start;

                        svg.main-news {
                            width: 25%;
                            height: 100%;
                            order: 2;
                            position: relative;
                            left: -10%;

                            g.main-g {
                                fill: rgba($color: $color-pink-5, $alpha: 1.0);
                            }
                        }

                        img.main-poster-news {
                            // z-index: 100 !important;
                            width: 45%;
                            height: 100%;
                            order: 1;
                        }
                    }

                    div.all-cards {
                        width: 100%;
                        height: 60%;
                        display: grid;
                        grid-template-columns: 45% 46%;
                        // grid-template-rows: 35% 35%;
                        justify-content: center;
                        align-items: center;
                        // grid-gap: 20px;

                        div.card-news {
                            width: 100%;
                            height: 85%;
                            background-color: rgba($color: $color-white, $alpha: .9);
                            border-radius: 2px;
                            display: flex;
                            justify-content: flex-end;

                            img.news {
                                width: 80%;
                                height: 100%;
                                order: 1;
                            }

                            svg.single-news {
                                width: 25%;
                                height: 100%;
                                order: 2;
                                position: relative;
                                left: -5%;

                                g {}
                            }
                        }
                    }
                }

            }

        }
    }
}