@import 'base';

div.container.not-found {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span.oops {
        height: max-content;
        font-size: 4rem;
        font-weight: bold;
        color: $color-white;
        margin-bottom: 1rem;


        &::first-letter {
            color: $color-orange-1;
        }

    }

    h1 {
        color: $color-white;
        font-family: 'Cochin';
    }

    button {
        margin-top: 1rem;
        border: 1px solid $color-orange-1;
        border-radius: 28px;

        &:hover {
            background-color: $color-orange-1;
            border-color: $color-orange-1;
        }

        &:focus {
            box-shadow: 0 0 1px .2rem rgba($color: $color-orange-1, $alpha: .27);
        }

        &:hover>a.nav-link {
            color: $color-white;
        }

        a.nav-link {
            color: $color-orange-1;

            &:focus {
                outline: none;
                color: $color-white;
            }

        }
    }
}