@import 'base';

div.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span.oops {
        height: max-content;
        font-size: 3.5rem;
        font-weight: bold;
        color: $color-white;
        margin-bottom: 1rem;

    }

    h1 {
        color: $color-white;
    }

    button {
        margin-top: 1rem;
        border-radius: 28px;

        &:hover>a.nav-link {
            color: $color-white;
            background-color: $color-danger;
            border-color: $color-danger;
        }

        a.nav-link {
            color: $color-danger;

            &:focus {
                outline: none;
                color: $color-white;
            }

        }
    }
}