@import './base';

nav.nav-pagination {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30%;

    ul.pagination {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // box-shadow: 0 0 1px .1rem rgba($color: $color-white, $alpha: .2);
        width: 100%;


        li.page-item {
            display: flex;
            align-items: center;

            &:hover>a.page-link {
                text-shadow: 2px 1px .1rem rgba($color: $color-light, $alpha: .27);
                color: rgba($color: $color-light, $alpha: .95);
                font-size: 95%;
            }

            a.page-link {
                width: 100%;
                height: 100%;
                border: none;
                color: rgba($color: $color-light, $alpha: .75);
                font-size: 90%;
                background: transparent;
                cursor: pointer;

                &:focus {
                    // box-shadow: 0 0 0 0.2rem rgba($color: $color-gray-2, $alpha: .27);
                    box-shadow: none;
                }

                i.fa {
                    font-size: 16px;
                }
            }

            a.page-link.active {
                // color: $color-dark;
                font-size: 95%;
                cursor: pointer;
            }

            pre.page-number {

                border: none;
                color: rgba($color: $color-light, $alpha: .75);
                font-size: 95%;
                background: transparent;
                cursor: pointer;
                margin-bottom: 0;
            }
        }

        li.page-item.disabled {
            &:hover>a.page-link {
                text-shadow: none;
                color: rgba($color: $color-gray-2, $alpha: .75);
                font-size: 95%;
            }

            a.page-link {
                color: rgba($color: $color-gray-2, $alpha: .75);
            }
        }
    }
}