@import 'base';


li.nav-item-icon.nav-item#user {
    width: 55px;
    height: 55px;
    display: flex;
    align-self: flex-end;
    justify-content: center;

    a.nav-link {
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: .5rem;
        color: $color-gray-3;
        text-decoration: none;

        &:focus {
            outline: none;
        }

        i.image-icon.fas.fa-user-circle {
            font-size: 40px;


            &:focus,
            &:active,
            &:hover {
                color: rgba($color: $color-orange-1, $alpha: 1.0);
            }
        }
    }
}