@import './base';

div.parent-input {
    width: 70%;

    input.form-control.search-table {
        // border-bottom-right-radius: 0;
        // border-top-right-radius: 0;
        background-color: rgba($color: $color-gray-2, $alpha: .1);
        border-color: rgba($color: $color-light, $alpha: .2);
        color: rgba($color: $color-light, $alpha: .75);


        &::placeholder {
            color: rgba($color: $color-light, $alpha: .5);
        }

        &:focus {
            box-shadow: 0 0 1px .1rem rgba($color: $color-white, $alpha: .2);
            border: none;

        }
    }

    button.search-btn {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}