@import 'base';

input.search-box {
    direction: ltr;
    // width: 40%;
    width: 150px;
    height: 2rem;
    background-color: $color-dark;
    border: 1px solid $color-gray-1;
    border-radius: 6px;
    font-size: 85%;
    // color: $color-dark;
    padding-left: 5px;
    position: relative;
    left: -10px;

    &:focus {
        box-shadow: 0 0 1px .1rem rgba($color: $color-gray-1, $alpha: .2);
        border-color: rgba($color: $color-gray-1, $alpha: 1.0);
        background-color: rgba($color: $color-white, $alpha: .75);
    }
}