@import 'base';


div.container-fluid.Shop {

    // background-image: url('./../images/fifa-world-cup-brazil-fifa.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    // -webkit-box-reflect: below 0 linear-gradient(to bottom, transparent 20%, #000f);
    width: 100%;

    div.card#content {
        background-color: rgba($color: #000000, $alpha: .4);
        display: flex;
        flex-direction: row;
        border-left: 1px solid $color-orange-1;
        border-top: 2px solid $color-orange-1;
        border-bottom: 0;
        border-right: 0;
        border-radius: 0;
        position: relative;
        left: 0;
        height: 100%;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        min-height: 100%;

        div.all-view-component {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: space-around;

            div.title {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 1.2rem;
                margin-left: 1.8rem;
                width: 50%;

                h2.h1 {
                    color: rgba($color: $color-gray-1, $alpha: .7);
                    // text-shadow: -3px -1px 0 rgba($color: $color-orange-1, $alpha: .2);
                    font-weight: bold;
                    text-align: left;
                    font-size: 3rem;
                }
            }

            div.all-products {

                width: 100%;
                height: 100%;

                display: grid;
                grid-template-columns: 30% 30% 30%;
                justify-content: center;
                grid-gap: 10px;

                div.product {
                    width: 90%;
                    height: 90%;
                    background-color: rgba($color: $color-gray-2, $alpha: .7);
                    border-radius: 9px;
                }
            }
        }
    }
}