@import 'base';

div.sidebar-menu {
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
    width: 15%;
    display: flex;
    flex-direction: column;

    ul.list-menu {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 100%;

        li.list-item {
            width: 100%;
            border: 1px solid rgba($color: $color-orange-1, $alpha: 1.0);
            // border-right: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            &:active {
                background-color: rgba($color: $color-orange-1, $alpha: .12);
                border-color: rgba($color: $color-orange-1, $alpha: .12);
            }

            a.nav-link {
                color: $color-white;
                line-height: 30px;
                font-size: 95%;
                // padding:0 ;

                &::first-letter {
                    color: $color-orange-1;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }

}