@import 'base';

div.container-fluid {
    div.row{
        div.card{
            border: 2px solid rgba($color: $color-orange-1, $alpha: .5);
            border-radius: 9px;
            background-color: rgba($color: $color-gray-1, $alpha: .5) ;
            margin-left: 3rem;
            width: 40%;
            h1.h1{
                color:rgba($color: $color-gray-1, $alpha: .7)  ;
                text-shadow: -3px -1px 0 rgba($color: $color-orange-1, $alpha: .2) ;
                font-weight: bold;
                text-align: center;
            }
            p.text-muted{
                font-weight: bold;
                font-size: 75%;
                margin-bottom: .3rem;
                text-align: center;
            }
            a#goLogin{
                color: red;
                font-weight: bold;
                font-size: 75%;
                text-align: center;
                text-decoration: underline red;
                &:focus{
                    outline: none;
                }
            }
                form{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 90%;
                    margin-top: 2rem;
                    h3.h3{
                        display: flex;
                        color: $color-white;
                        font-size: 95%;
                        font-weight: bold;
                       justify-content: center;
                    }
                    div.form-group{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // margin-top: 1rem;
                        margin-left: 0;
                        label{
                            display: flex;
                            justify-content: center;
                            color: $color-gray-2;
                            justify-content: flex-start;
                            font-size: 90%;
                            a{
                                color: $color-blue-1;
                                font-size: 95%;
                                font-weight: bold;
                                &:focus{
                                    outline: none;
                                }
                            }

                        }
                        label.label-check-box{
                            font-size: 80%;
                            margin-left: 10px;
                            display: flex;
                            a{
                                color: $color-blue-1;
                            }

                        }
                        input{
                            border:1px solid $color-gray-2;
                            border-radius: 9px;
                            background-color: #000;
                            color: $color-gray-2;
                            font-size: 80%;
                            padding-left: .5rem;
                            &:focus{
                                box-shadow: 0 0 0 0.1rem rgba($color: $color-orange-1, $alpha: .25);
                            }
                        }
                        input[type ="checkbox"]{
                            opacity: 0;
                            &:focus{
                                box-shadow: 0 0 0 0 ;
                            }
                        }
                        span.my-checkbox{
                            width: 20px;
                            height: 20px;
                            background-color: $color-gray-2;
                            border:1px solid $color-gray-2;
                            border-radius: 2px;
                        }
                        div.captcha-block{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            div.captcha{
                                width: 100px;
                                height: 50px;
                                background-color: $color-gray-2;
                                // border:1px solid #000000 ;
                                margin-bottom: 1rem;
                                font-size: 90%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: $color-white;
    
                            }
                            input{

                            }

                        }

                    }
                    button.register{
                        background-color: $color-orange-1;
                        border-color: $color-orange-1;
                        border-radius: 28px;
                        outline: none;
                        font-size: 95%;
                        position: relative;
                        left: 16%;
    
                        &:active {
                            box-shadow: 1px 1px 0 0 $color-orange-1;

                        }
                    }
                }

        }
    }
}