@import 'base';

section.main-slider {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    div.container-fluid {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        // max-width: 100%;
        padding: 0;
        margin: 0;
        position: relative;

        div.row {
            width: 100%;
            height: auto;
            margin-left: 0;
            display: flex;
            padding-left: 0;
            padding-right: 0;
            // width: 100%;

            div.sidebar {
                padding-right: 0;
                margin-right: 0;
                margin-left: 0;
                width: 10%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                div.card-columns {
                    column-count: 1;
                    column-gap: 0;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                    justify-content: flex-end;
                    height: 80%;
                    background-color: transparent;

                    div.line {
                        width: 40px;
                        height: 40px;
                        border: 2px solid $color-gray-1;
                        border-bottom: 0;
                        border-right: 0;
                        border-left: 0;
                    }

                    div.card#social-medias {
                        background-color: transparent;
                        border: 2px solid $color-gray-1;
                        border-radius: 0;
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 0;
                        width: 60px;
                        height: 60px;
                        // margin-right: auto;
                        margin-top: 0;

                        div.card-body#social-media {
                            border: 0;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            a#icons {
                                width: 80%;

                                &:focus {
                                    outline: none;
                                }

                                img.icon {
                                    &:focus {
                                        outline: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            div#content {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                border-left: 2px solid $color-orange-1;
                border-top: 2px solid $color-orange-1;
                border-bottom: 0;
                border-right: 0;
                border-radius: 0;
                background: transparent;
                position: relative;
                left: 0;
                height: max-content;
                padding-left: 0;
                padding-right: 0;
                width: 90%;
                margin-top: 0;

                div.titles {
                    display: flex;
                    flex-direction: column;
                    width: 30%;

                    // div.canvas-element{
                    //     display: flex;
                    //     justify-content: flex-start;
                    //     width: 30%;
                    //     height: max-content;
                    //     // position: relative;
                    //     canvas#mycanvas{
                    //         // width: 20%;
                    //         display: flex;
                    //         align-items: center;
                    //         justify-content: flex-start;
                    //         // flex-direction: column;
                    //         padding-right: 0;
                    //         position: relative;
                    //         // left: -100%;
                    //         height: 350px;
                    //         width: 100%;
                    //         top: 2rem;
                    //     }
                    // }
                    div.top {
                        width: 50px;
                        height: 50px;
                        border: 2px solid $color-gray-1;
                        border-right: 0;
                        border-bottom: 0;
                        position: relative;
                        top: 1.5rem;
                        left: 2rem;
                    }

                    div.card-bodys {
                        padding: 0;
                        margin-top: 0;
                        position: relative;
                        left: 20%;
                        // height: 100%;
                        width: max-content;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        border: 0;

                        div.line-orange {
                            width: 60px;
                            height: 30px;
                            border: 3px solid $color-orange-1;
                            border-bottom: 0;
                            border-left: 0;
                            border-right: 0;
                        }

                        div.card-text {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            width: max-content;

                            h1.Tournament {
                                font-size: 2.8rem;
                                color: $color-orange-1;
                                font-weight: bold;
                            }

                            h1.title {
                                color: $color-orange-1;
                                font-weight: bold;
                                font-size: 2.8rem;
                                margin-top: .5rem;

                                span.h1 {
                                    color: $color-white;
                                    font-weight: bold;
                                    font-size: 2.8rem;
                                }
                            }

                            h1.garanti {
                                font-size: 3rem;
                                color: $color-white;
                                font-weight: bold;
                            }
                        }
                    }

                    div.bottom {
                        width: 50px;
                        height: 50px;
                        border: 2px solid $color-gray-1;
                        border-right: 0;
                        border-top: 0;
                        position: relative;
                        left: 2rem;
                    }
                }

                div.swiper-container.swiper-container-initialized.swiper-container-horizontal {
                    width: 53%;
                    margin-right: 0;

                    div.swiper-wrapper {
                        width: 100%;
                        margin-right: 0;

                        div.swiper-slide {
                            width: 100%;
                            height: 60vh;
                            display: flex !important;

                            div.slides {

                                // width: 100%;
                                img.card-img-top {}
                            }
                        }
                    }

                    div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
                        display: flex;
                        flex-direction: column;
                        height: 130px;

                        span.swiper-pagination-bullet {
                            display: flex;
                            justify-content: flex-end;
                            width: 100%;
                            height: 50px;
                            padding-right: 1.5rem;
                            color: #ffffff;
                            font-size: 14px;
                            background: transparent;
                        }

                        span.swiper-pagination-bullet.swiper-pagination-bullet-active {
                            font-size: 19px;
                            // font-weight: bold;

                        }
                    }
                }
            }

            div.images {
                width: 100%;
                display: flex;
                height: 45vh;
                justify-content: center;
                align-items: center;
                background-color: #000000;

                img.image-fluid {
                    width: 50%;
                    height: 234px;
                }
            }
        }
    }
}