@import './base';

tbody {
    max-width: 100%;

    tr.body-row {

        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        th.body-head {
            color: rgba($color: $color-light, $alpha: .75);
            width: max-content;
        }

        td.body-data {
            display: flex;
            // width: 100%;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;
            // text-align:left ;
            padding: .5rem;
            // margin-right: .5rem;
            cursor: pointer;

            color: rgba($color: $color-light, $alpha: .5);

            svg.edit-icon {
                fill: rgba($color: $color-yellow, $alpha: .75);
                
                &:focus, &:hover {
                    fill: rgba($color: $color-yellow, $alpha: 1.0);
                }
            }

            i.material-icons {
                color: rgba($color: $color-danger, $alpha: .75);
                
                &:focus ,&:hover {
                    color: rgba($color: $color-danger, $alpha: 1.0);
                    
                }
            }
        }


    }
}