@import './base';

thead {
    margin-top: 1rem;
    // display: flex;
    // flex-direction: column;

    tr.header-row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        overflow: hidden;

        div.header-box {
            display: flex;
            align-items: center;
            justify-content: flex-start;


            th.header-head {
                color: rgba($color: $color-light, $alpha: .8);
                font-weight: bold;
                padding-right: .2rem;
                letter-spacing: .09rem;
                display: flex;
                justify-content: flex-start;

                // position: absolute;
            }

            svg.sort-table {
                font-size: 13px;
                fill: $color-light;
                transform: rotate(0deg);
                transition: transform .3s ease;
            }

            svg.sort-table.descending {
                // fill: $color-gray-3;
                transform: rotate(-180deg);
                transition: transform .3s ease;
            }


        }

        div.header-box.title-box {
            position: relative;
            left: -8%;
        }
    }

}