@import './base';

thead {
    margin-top: 1rem;
    // display: flex;
    // flex-direction: column;

    tr.header-row {
        display: flex;
        width: 100%;
        justify-content: space-between;

        div.header-box {
            display: flex;
            align-items: center;
            justify-content: center;

            th.header-head {
                color: #000000;
                font-weight: bold;
                padding-right: .25rem;
                letter-spacing: .15rem;
            }

            svg.sort-table {
                font-size: 14px;
                fill: $color-gray-2;
            }


        }
    }

}