@import 'base';


li.nav-item.nav-item-icon#telegram {
    height: max-content;
    // margin-bottom: 1rem;

    a.nav-link {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: .5rem;
        color: $color-gray-3;
        text-decoration: none;

        &:focus {
            outline: none;
        }

        svg.MuiSvgIcon-root.image-icon {
            height: 28px;
            width: 28px;
        }
    }

    div.dropdown-messages.dropdown {
        width: max-content;


        button.dropdown-button {
            background-color: transparent;
            border-color: transparent;
            padding: 0;
            width: 45px;
            height: 45px;

            &:focus,
            &:active {
                outline: none;
                border: 0;
                box-shadow: none;
            }

            svg#telegram {
                color: $color-gray-3;


            }
        }

        div.all-massage.dropdown-menu {
            background-color: $color-background-1;
            border-bottom: 2px solid $color-orange-1;
            position: fixed;
            right: 1%;
            width: 20vw;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: .2rem;
            margin-top: 1rem;

            button.massage.dropdown-item {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 28%;
                background-color: rgba($color: $color-gray-2, $alpha: .7);
                color: rgba($color: #ffffff, $alpha: .7);
                align-items: flex-end;
                justify-content: space-between;
                padding: .2rem .5rem;
                border-radius: 9px;
                border: none;

                &:hover {
                    background-color: rgba($color: #ffffff, $alpha: .7);
                    color: rgba($color:#000000, $alpha: .5);

                }

                &:focus {
                    outline: none;
                }

                i.image-icon.fas.fa-user-circle {
                    font-size: 35px;
                    margin-bottom: .5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                p.user-name {
                    font-size: 85%;
                }
            }

            button.massage-send-box.dropdown-item {
                padding: 0;
                width: 100%;
                height: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                &:hover {
                    background-color: transparent;
                }

                &:active {
                    background-color: transparent;
                }

                div.telegram-icon.form-group {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row-reverse;
                    width: 100%;
                    height: 3rem;
                    margin-bottom: 0;
                    background: transparent;

                    &:focus {
                        border: none;
                    }

                    input.massage-input.form-control {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        // background-color: rgba($color: #ffffff, $alpha: 1.0);
                        width: 100%;
                        height: 2.5rem;
                        border-radius: 28px;
                        border: none;
                        padding: .25rem 1rem;
                        // padding-left: 2rem;
                        // direction: ltr;

                        &:focus {
                            outline: none;
                            box-shadow: 0 0 1px .1rem rgba($color: $color-white, $alpha: .4);
                        }
                    }

                    button.send {

                        background-color: transparent;
                        border: none;
                        position: relative;
                        left: 2rem;
                        padding: 0;
                        width: max-content;
                        height: 100%;

                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }

                        svg {
                            color: rgba($color: $color-orange-1, $alpha: .7);
                            font-size: 28px;

                        }
                    }


                }
            }

        }
    }
}