@import 'base';


li.nav-item.nav-item-icon#telegram {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    width: 40px;
    height: 50px;

    a.nav-link {
        width: 40px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: .5rem;
        color: $color-gray-3;
        text-decoration: none;
        padding: 0;

        &:focus {
            outline: none;
        }

        div.dropdown-messages.dropdown {
            width: 100%;

            button.dropdown-button {
                background-color: transparent;
                border-color: transparent;
                padding: 0;
                width: 45px;
                height: 45px;

                &:focus,
                &:active {
                    outline: none;
                    border: 0;
                    box-shadow: none;
                }

                svg#telegram {
                    color: $color-gray-3;
                    height: 28px;
                    width: 28px;

                    &:focus,
                    &:active,
                    &:hover {
                        color: rgba($color: $color-orange-1, $alpha: 1.0);
                    }
                }
            }

            div.all-massage.dropdown-menu {
                background-color: $color-background-1;
                border-bottom: 2px solid $color-orange-1;
                position: fixed;
                right: -500%;
                width: 22vw;
                height: 350px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: .2rem;
                margin-top: 1.3rem;


                button.massage.dropdown-item {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 28%;
                    background-color: rgba($color: $color-gray-2, $alpha: .7);
                    color: rgba($color: #ffffff, $alpha: .7);
                    align-items: flex-end;
                    justify-content: space-between;
                    padding: .2rem .5rem;
                    border-radius: 9px;
                    border: none;

                    &:hover {
                        background-color: rgba($color: #ffffff, $alpha: .7);
                        color: rgba($color:#000000, $alpha: .5);

                    }

                    &:focus {
                        outline: none;
                    }

                    i.image-icon.fas.fa-user-circle {
                        font-size: 35px;
                        margin-bottom: .5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    p.user-name {
                        font-size: 85%;
                    }
                }

                button.massage-send-box.dropdown-item {
                    padding: 0;
                    width: 100%;
                    height: 50px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    align-self: center;

                    &:active,
                    &:focus,
                    &:hover {
                        background-color: transparent;
                        border: 0;
                    }


                }

                div.telegram-icon.form-group {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row-reverse;
                    width: max-content;
                    height: max-content;
                    margin-bottom: 0;
                    background: transparent;
                    border: none;
                    position: relative;
                    right: 5%;

                    &:focus,
                    &:active {
                        border: none;
                    }

                    input.massage-input.form-control {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        // background-color: rgba($color: #ffffff, $alpha: 1.0);
                        width: 100%;
                        height: 2.5rem;
                        border-radius: 28px;
                        border: none;
                        padding: .25rem 1rem;
                        padding-left: 2rem;
                        position: relative;
                        left: .5rem;
                        // padding-left: 2rem;
                        // direction: ltr;

                        &:focus {
                            outline: none;
                            box-shadow: 0 0 1px .1rem rgba($color: $color-white, $alpha: .4);
                            border: none;
                        }
                    }

                    button.send {

                        background-color: transparent;
                        border: none;
                        position: relative;
                        left: 2.5rem;
                        top: .08rem;
                        padding: 0;
                        width: max-content;
                        height: 100%;
                        z-index: 10;


                        &:focus,
                        &:active {
                            outline: none;
                            box-shadow: none;
                        }

                        svg {
                            color: rgba($color: $color-orange-1, $alpha: .7);
                            font-size: 28px;

                            &:focus,
                            &:active {
                                color: rgba($color: $color-orange-1, $alpha: 1.0);
                            }

                        }
                    }


                }

            }

            div.all-massage.dropdown-menu.show {
                // transform: translate(-20%, -100%);
                // transition: transform .5s linear;
            }
        }
    }
}