@import 'base';


li.nav-item-icon.nav-item#ticket {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    width: 50px;
    height: 50px;

    a.nav-link {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: .5rem;
        color: $color-gray-3;
        text-decoration: none;

        &:focus {
            outline: none;
        }

        i.image-icon.fas.fa-ticket-alt {
            font-size: 28px;

            &:focus,
            &:active,
            &:hover {
                color: rgba($color: $color-orange-1, $alpha: 1.0);
            }
        }
    }
}