@import 'base';


div.container-fluid.Tourny {

    background-image: url('./../images/fifa-world-cup-brazil-fifa.png'), url('./../images/fifa-club-world-cup-final.png'), ;
    background-repeat: no-repeat;
    background-size: 100% 100%, 30% 350px;
    background-position: 0 0, bottom right;
    -webkit-box-reflect: below 0 linear-gradient(to bottom, transparent 20%, #000f);
    width: 100%;

    div.card#content {
        background-color: rgba($color: #000000, $alpha: .4);
        display: flex;
        flex-direction: row;
        border-left: 1px solid $color-orange-1;
        border-top: 2px solid $color-orange-1;
        border-bottom: 0;
        border-right: 0;
        border-radius: 0;
        position: relative;
        left: 0;
        height: 100%;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        min-height: 100%;

        div.elements {
            width: 75%;
            height: 100%;
            display: flex;
            flex-direction: column;

            div.card#tab-content {
                // width: 100%;
                height: 250px;
                border: 1px solid $color-orange-1;
                border-radius: 9px;
                background-color: rgba($color: $color-background-1, $alpha: .5);
                margin: 2rem;
                margin-top: 0;

                div.tab-content-parent {
                    display: flex;
                    width: 100%;
                    height: 100%;

                    div.tab-content-child {
                        padding: 0;
                    }

                    div.tab-content-child-1 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;
                        height: 100%;

                        img.WorldCupTrophy {
                            // width: 100%;
                            height: 80%;
                        }

                        span.hosted {
                            width: 100%;
                            // height: 20px;
                            color: $color-gray-2;
                            padding-left: .5rem;
                            font-weight: 600;
                            font-size: 88%;

                        }
                    }

                    div.tab-content-child-2 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;

                        svg.icon-trophy {
                            width: 50px;
                            height: 50px;
                        }

                        span.score {
                            color: $color-gray-2;
                            font-weight: 600;
                            font-size: 88%;
                            width: 100%;
                            display: flex;
                            justify-content: center;


                        }

                        div.section1 {
                            height: 40%;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            div.join-button {
                                width: 42%;
                                height: 82%;
                                background-image: url('./../images/green-button.png');
                                background-repeat: no-repeat;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;


                                span.join {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    color: #ffffff;
                                    font-size: 1.3rem;
                                    font-weight: bold;
                                }
                            }
                        }


                    }

                    div.tab-content-child-3 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;
                        height: 100%;

                        span.time-game {
                            color: rgba($color: $color-gray-2, $alpha: .6);
                            font-weight: 600;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                        }

                        div.timing {
                            display: flex;
                            width: 100%;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            top: -1rem;

                            input.form-control {
                                border-radius: 10px;
                                border: unset;
                                width: 50%;
                                margin-right: .5rem;

                                &:focus {
                                    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, .25);
                                }

                            }

                            input.time {
                                display: flex;
                                width: 50px;
                                padding-right: 3px;
                                padding-left: 8px;
                                height: 45px;
                                margin-right: .3rem;
                                font-weight: 600;

                                &:last-child:not([name="advantage"]) {
                                    width: 55px;
                                    height: 45px;
                                    margin-right: 0;
                                    background-color: rgba($color: $color-orange-1, $alpha: .8);
                                    color: #ffffff;

                                    &:focus {
                                        box-shadow: 0 0 0 0.2rem rgba($color: $color-orange-1, $alpha: .25);
                                    }
                                }

                            }

                        }

                        span.waiting-title {
                            color: rgba($color: $color-gray-2, $alpha: .6);
                            font-weight: 600;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            position: relative;
                            top: 1rem;
                        }

                        div.waiting-input {
                            display: flex;
                            justify-content: center;

                            input.form-control.wait {
                                display: flex;
                                justify-content: center;
                                border-radius: 10px;
                                border: unset;
                                width: 50px;

                                &:focus {
                                    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, .25);
                                }
                            }
                        }

                    }

                    div.tab-content-child-4 {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: column;


                        div.Date {
                            width: 100%;
                            height: 33%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;

                            span.Datom {
                                width: 100%;
                                height: 20px;
                                font-weight: 600;
                                color: $color-gray-2;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-bottom: .5rem;
                            }

                            div.date-box {
                                display: flex;

                                span.year,
                                span.month {
                                    color: #ffffff;
                                }

                                span.day {
                                    color: $color-orange-1;
                                }
                            }
                        }

                        span.No {
                            width: 100%;
                            height: 20px;
                            color: $color-gray-2;
                            font-size: 88%;
                            font-weight: 600;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            position: relative;
                            bottom: 10px;
                            right: .6rem;
                        }
                    }

                }
            }

        }

        div.sidebar-right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            min-height: 90%;
            // height: 100vh;
            width: 25%;

            div.priorities {
                display: flex;
                width: max-content;
                flex-direction: column;
                justify-content: flex-end;
                height: 130px;

                div.Priority {
                    display: flex;
                    justify-content: space-between;
                    width: max-content;
                    margin-top: .8rem;

                    div.ascending {
                        width: 20px;
                        height: 20px;
                        border-radius: 2px;
                        display: flex;
                        background-color: $color-orange-1;


                    }

                    span {
                        font-size: 85%;
                        color: $color-gray-2;
                        align-self: center;
                        padding-left: .3rem;
                    }

                    div.descending {
                        width: 20px;
                        border-radius: 2px;
                        height: 20px;
                        display: flex;
                        background-color: #ffffff;
                    }
                }
            }
        }
    }
}