@import 'base';


div.container-fluid.Tutorial {

    // background-image: url('./../images/fifa-world-cup-brazil-fifa.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    // -webkit-box-reflect: below 0 linear-gradient(to bottom, transparent 20%, #000f);
    width: 100%;

    div.card#content {
        background-color: rgba($color: #000000, $alpha: .4);
        display: flex;
        flex-direction: row;
        border-left: 1px solid $color-orange-1;
        border-top: 2px solid $color-orange-1;
        border-bottom: 0;
        border-right: 0;
        border-radius: 0;
        position: relative;
        left: 0;
        height: 100%;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        min-height: 100%;
        height: 140vh;


        div.all-view-component {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: space-around;

            div.title {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 1.2rem;
                margin-left: 1.8rem;
                width: 50%;

                h2.h1 {
                    color: rgba($color: $color-gray-1, $alpha: .7);
                    // text-shadow: -3px -1px 0 rgba($color: $color-orange-1, $alpha: .2);
                    font-weight: bold;
                    text-align: left;
                    font-size: 3rem;
                }
            }

            div.all-box {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 45% 45%;
                justify-content: center;
                // grid-gap: 10px;
                align-items: center;
                justify-content: center;
                // border-bottom: 1px solid rgba($color: $color-gray-2, $alpha: .5);

                div.group-box {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #ffffff;
                    border-bottom: 0;
                    border-left: 0;
                    border-top: 0;

                    &:nth-child(even) {
                        border-right: 0;
                    }

                    &:nth-last-child(1)>div.box-card {
                        border-bottom: 0;
                    }

                    div.box-card {
                        width: 100%;
                        height: 100%;
                        border: 1px solid #ffffff;
                        border-top: 0;
                        border-left: 0;
                        border-right: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        div.box {
                            background-color: rgba($color: $color-gray-2, $alpha: .9);
                            border: 1px solid red;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 85%;
                            height: 85%;
                            background-color: rgba($color: $color-gray-2, $alpha: .7);

                            div.refresh-box {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                svg.refresh-icon {
                                    font-size: 50px;
                                    color: rgba($color: $color-gray-2, $alpha: 1.0);
                                    background-color: rgba($color: $color-background-1, $alpha: .7);
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}