@import 'base';


nav.navbar.user-header {
    direction: rtl;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: .5rem;
    width: 100%;

    div.navbar-right {
        display: flex;
        align-items: center;
        width: 40%;
        div.navbar-collapse.collapse.collapse-user.row.part-1 {
            width: max-content;
            flex-basis: auto;
            // align-items: baseline;
            p.text-muted {
                width: max-content;
                margin-right: 2rem;
                margin-left: 1rem;
                font-size: 95%;
            }
    
            a.nav-link-icon {
                width: 45px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: .5rem;
                color: $color-gray-3;
                text-decoration: none;
    
                &:focus {
                    outline: none;
                    color: rgba($color: $color-orange-1 , $alpha: .5);

                }
    
                img.image-icon {
                    width: 20px;
                    height: 22px;
                }
                img.image-icon.selected{
                    color: $color-orange-1;
                }
            }
    
            a.nav-link-icon#user {
                width: 45px;
                height: 45px;
    
                img.image-icon#user {
                    width: 45px;
                    height: 45px;
                }
            }
    
            a.nav-link-icon#ticket {
                width: 35px;
                height: 35px;
    
                img.image-icon#ticket {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        // div.row.part-2 {
            // display: flex;
            // width: max-content;
            // a.nav-link-icon {
            //     width: 45px;
            //     height: 45px;
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     margin-right: .5rem;
    
            //     &:focus {
            //         outline: none;
            //     }
    
            //     img.image-icon {
            //         width: 20px;
            //         height: 22px;
            //     }
            // }

            a.nav-link-icon#bell {
                width: 30px;
                height: 30px;
    
                img.image-icon#bell {
                    width: 25px;
                    height: 25px;
                }
            }
    
            a.nav-link-icon#telegram {
                width: 25px;
                height: 25px;
    
                img.image-icon#telegram {
                    width: 20px;
                    height: 20px;
                }
            }
    
            a.nav-link-icon#wallet {
                width: 25px;
                height: 25px;
    
                img.image-icon#wallet {
                    width: 20px;
                    height: 20px;
                }
            }
        // }




    }

    div.navbar-left {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 45%;


        div.empty-content {
            display: flex;
            width: 90px;
            color: $color-gray-1;
            height: 2rem;
            background-color: rgba($color: $color-gray-1, $alpha: 1.0);
            position: relative;
            left: -25px
        }

        h4.UFOGame {
            color: $color-orange-1;
            font-weight: 600;
            z-index: 10;
            width: auto;
            margin-bottom: 0;

            span {
                color: $color-white;
            }
        }

        img.logo {
            margin-right: 8px;
            width: 50px;
            height: 50px;
        }

        input[type="search"] {
            direction: ltr;
            width: 150px;
            height: 2rem;
            background-color: #000;
            border: 1px solid $color-gray-1;
            border-radius: 9px;
            font-size: 85%;
            color: $color-gray-2;
            padding-left: 5px;
            position: relative;
            left: -10px

        }
    }
}