@import 'base';

div.container{
    div.row.games{
        display: flex;
        align-items: center;
        justify-content: center;
        div.game{
            margin-right: auto;
            img.game-image{
                //  height: 75%;

            }
        }
    }
}