@import 'base';

div.container-fluid {
    // background-image: url('./../images/Grid2.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: rgba($color: #000000, $alpha: .4);


    div.card#content {
        display: flex;
        // flex-direction: row;
        background: transparent;
        // justify-content: flex-end;
        border-left: 1px solid $color-orange-1;
        border-top: 2px solid $color-orange-1;
        border-bottom: 0;
        border-right: 0;
        border-radius: 0;
        position: relative;
        left: 0;
        height: max-content;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        min-height: 100%;

        div.row.games {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem 0;

            div.game {
                margin: auto;
                padding: 0;
                width: 15.5%;
                margin-bottom: 1.5rem;
                height: 70%;

                img.game-image {
                    height: 50%;
                    border-radius: 20px;

                    &::after {
                        content: "";
                        background-image: inherit;
                        width: inherit;
                        height: inherit;
                        position: absolute;
                        bottom: -42%;
                        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), white);
                        z-index: 1;
                        opacity: 0.5;
                        transform: scaleY(-1);
                        box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.3),
                            0px 10px 10px rgba(0, 0, 0, 0.1);
                    }

                    &:hover {
                        transform: scale(1.05);
                        transition: all .3s ease-in;
                        box-shadow: 1px 1px 3px 0 $color-gray-2;
                    }
                }
            }
        }
    }

}