@import 'base';

nav.navbar.user-header-right {
    direction: rtl;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;

    div.navbar-right {
        display: flex;
        align-items: center;
        width: 40%;

        div.navbar-collapse.collapse.collapse-user.row.part-1 {
            width: max-content;
            flex-basis: auto;

            // align-items: baseline;
            p.text-muted {
                width: max-content;
                margin-right: 2rem;
                margin-left: 1rem;
                font-size: 95%;
            }

            a.nav-link-icon {
                width: 45px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: .5rem;
                color: $color-gray-3;
                text-decoration: none;

                &:focus {
                    outline: none;

                }

                &:active {
                    color: rgba($color: $color-orange-1, $alpha: .9);
                }

                i.image-icon {
                    font-size: 20px;
                    width: 20px;
                    height: 22px;
                }

                i.image-icon.selected {
                    color: $color-orange-1;
                }
            }

            a.nav-link-icon#user {
                width: 45px;
                height: 45px;

                i.image-icon#user {
                    font-size: 45px;
                    width: 45px;
                    height: 45px;
                }

            }

            a.nav-link-icon#ticket {
                width: 35px;
                height: 35px;

                i.image-icon#ticket {
                    font-size: 30px;
                    width: 30px;
                    height: 30px;
                }
            }
        }

        // div.row.part-2 {
        // display: flex;
        // width: max-content;
        // a.nav-link-icon {
        //     width: 45px;
        //     height: 45px;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     margin-right: .5rem;

        //     &:focus {
        //         outline: none;
        //     }

        //     img.image-icon {
        //         width: 20px;
        //         height: 22px;
        //     }
        // }

        a.nav-link-icon#bell {
            width: 30px;
            height: 30px;

            svg.image-icon#bell {
                font-size: 1.9rem;
                // width: 25px;
                // height: 25px;
            }
        }

        a.nav-link-icon#telegram {
            width: 25px;
            height: 25px;

            svg.image-icon#telegram {
                font-size: 1.7rem;
                // width: 25px;
                // height: 25px;
            }
        }

        a.nav-link-icon#wallet {
            width: 25px;
            height: 25px;

            svg.image-icon#wallet {
                font-size: 1.35rem;
                // width: 20px;
                // height: 20px;
            }
        }

        // }
    }
}