@import 'base';


    nav.navbar{
        direction: rtl;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        width: 100%;
        div.navbar-right {
            display: flex;
            p.text-muted{
                margin-right: 2rem;
                width:max-content;
                font-size: 95%;
            }

        }
        div.navbar-left {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 45%;

            div.empty-content {
                display: flex;
                width: 90px !important;
                color: $color-gray-1;
                height: 2rem;
                background-color: rgba($color: $color-gray-1, $alpha: 1.0);
                position: relative;
                left: -25px
            }

            h4.UFOGame {
                color: $color-orange-1;
                font-weight: 600;
                z-index: 10;
                width: auto;
                margin-bottom: 0;

                span {
                    color: $color-white;
                }
            }

            img.logo {
                margin-right: 8px;
                width: 60px;
                height: 55px;
            }
            input[type="search"]{
                direction: ltr;
                width: 150px;
                height: 2rem;
                background-color: #000;
                border: 1px solid $color-gray-1;
                border-radius: 9px;
                font-size: 85%;
                color: $color-gray-2;
                padding-left: 5px;

            }
        }
    }