@import 'base';

div.modal.modal-wallet {
    width: 30%;
    display: flex;
    justify-content: flex-start;

    // align-items: ;
    div.modal-content {
        background-color: rgba($color: #000000, $alpha: 1.0);
        border-color: $color-orange-1;
        border-radius: 28px;

        div.modal-body {
            padding: 0;

            div.modal-title {
                background-color: $color-gray-1;
                width: 100%;
                height: 40px;
                display: flex;
                border-radius: 29px;
                border-bottom-left-radius:0 ;
                border-bottom-right-radius:0 ;
                align-items: center;
                justify-content: flex-start;

                h2 {
                    margin-left: 1rem;
                    color: #ffffff;
                    font-size: 1.4rem;

                    &::first-letter {
                        color: $color-orange-1;
                    }
                }
            }

            div.content-wallet {
                display: flex;
                width: 100%;
                background-color: transparent;
                height: 50px;

                div.content-right {
                    width: 50%;
                    border: 1px solid $color-orange-1;
                    border-left: 0;
                    border-top: 0;

                    span.content-right-span {
                        color: $color-gray-2;
                        font-size: 95%;
                        margin-left: 1rem;


                    }
                }

                div.content-left {
                    width: 50%;
                    border: 1px solid $color-orange-1;
                    border-right: 0;
                    border-top: 0;

                    span.content-left-span {
                        color: $color-gray-2;
                        font-size: 95%;
                        margin-left: 1rem;
                        // height: 30px;


                    }
                }

            }

            div.wallet-buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                button.deposit {
                    background-color: $color-orange-1;
                    border-color: $color-orange-1;
                    border-radius: 28px;
                    outline: none;
                    font-size: 95%;
                    color: $color-white;
                    width: 45%;

                    &:focus {
                        box-shadow: 0 0 1px .1rem rgba($color: $color-orange-1, $alpha: .3);
                    }
                }

                button.withDraw {
                    background-color: $color-gray-1;
                    border-color: $color-gray-1;
                    border-radius: 28px;
                    outline: none;
                    font-size: 95%;
                    color: $color-white;
                    width: 45%;

                    &:focus {
                        box-shadow: 0 0 1px .1rem rgba($color: $color-gray-1, $alpha: .3);
                    }
                }


            }
        }
    }
}