@import 'base';


a.nav-link-icon#wallet {
    width: 25px;
    height: 25px;

    svg.image-icon#wallet {
        font-size: 1.35rem;
        // width: 20px;
        // height: 20px;
    }
}

div.modal-dialog.modal-wallet {
    // width: 30%;
    display: flex;
    justify-content: flex-start;

    // align-items: ;
    div.modal-content {
        width: 70%;
        position: relative;
        top: 5rem;
        left: 35%;
        border-radius: 30px;


        div.modal-body {
            background-color: rgba($color: #000000, $alpha: 1.0);
            border-color: $color-orange-1;
            border-radius: 28px;

            // div.modal-body {
            padding: 0;

            div.modal-header {
                background-color: $color-background-1;
                width: 100%;
                height: 40px;
                display: flex;
                border-radius: 28px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                align-items: center;
                justify-content: flex-start;
                padding: 0;
                border-bottom: 0;

                h2 {
                    margin-left: 1.2rem;
                    color: #ffffff;
                    font-size: 1.4rem;

                    &::first-letter {
                        color: $color-orange-1;
                    }
                }
            }

            div.content-wallet {
                display: flex;
                width: 100%;
                background-color: transparent;
                height: 65px;


                div.content-right {
                    width: 50%;
                    border: 1px solid $color-orange-1;
                    border-left: 0;
                    border-top: 0;
                    display: flex;
                    align-items: center;

                    span.content-right-span {
                        color: $color-gray-2;
                        font-size: 95%;
                        margin-left: 1rem;
                    }
                }

                div.content-left {
                    width: 50%;
                    border: 1px solid $color-orange-1;
                    border-right: 0;
                    border-top: 0;
                    display: flex;
                    align-items: center;


                    span.content-left-span {
                        color: $color-gray-2;
                        font-size: 95%;
                        margin-left: 1rem;
                        // height: 30px;


                    }
                }

            }

            div.wallet-buttons {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 96%;
                margin: .5rem;
                height: 45px;



                button.deposit {
                    background-color: $color-orange-1;
                    border-color: $color-orange-1;
                    border-radius: 28px;
                    outline: none;
                    font-size: 95%;
                    color: $color-white;
                    width: 40%;
                    // display: flex;
                    // flex-direction: column;
                    // align-self: center;
                    // justify-content: center;

                    &:focus {
                        box-shadow: 0 0 1px .1rem rgba($color: $color-orange-1, $alpha: .3);
                    }
                }

                button.withDraw {
                    background-color: $color-background-1;
                    border-color: $color-background-1;
                    border-radius: 28px;
                    outline: none;
                    font-size: 95%;
                    color: $color-white;
                    width: 40%;
                    margin-top: 0 !important;

                    &:focus {
                        box-shadow: 0 0 1px .1rem rgba($color: $color-gray-1, $alpha: .3);
                    }
                }

            }

            div.modal-wallet-footer {
                width: 100%;
                height: 35px;
                background-color: $color-background-1;
                border-radius: 28px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;

                span.modal-wallet-footer-text {
                    color: $color-gray-1;
                    font-size: 90%;
                    font-weight: 600;
                    width: 100%;
                    height: 27px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;

                }
            }

            // }
        }
    }
}